<template>
    <div>

        <section class="bg-light">

            <alert v-bind:message="message"
                   v-if="showMessage"
                   v-on:close-alert="showMessage = !showMessage"
            ></alert>

            <div class="container">
                <div class="row">

                    <div class="col">
                        <b-form @submit="onSubmit" class="w-100">
<!--                            <b-button type="submit" variant="primary">Update</b-button>-->
                            <b-button type="submit" variant="primary">
                                {{ currentInterface.buttonSubmit }}
                            </b-button>
                            <template v-for="(item, key, index) of footerLeft">
                                <b-form-group :id="'form-footer-left-' + key"
                                              :label="currentInterface.labelNewName + item.name + ':'"
                                              :label-for="key + '-input'"
                                              label-class="font-weight-bold">
                                    <b-form-input :id="key + '-input'"
                                                  type="text"
                                                  v-model="item.name"
                                                  required
                                                  :placeholder="currentInterface.placeholderNewName + item.name ">
                                    </b-form-input>
                                    <b-form-checkbox
                                        :id="key + '-checkbox'"
                                        v-model="item.visibility"
                                        :name="'checkbox-' + key"
                                    >
<!--                                        Показывать-->
                                        {{ currentInterface.checkboxPageVisibility }}
                                    </b-form-checkbox>
                                    <div class="row bg-white m-1">
                                        <wysiwyg v-model="item.text"/>
                                    </div>
                                </b-form-group>
                            </template>

                            <hr>

<!--                            label="Название 'Copyright':"-->
                            <b-form-group id="form-footer-left-p"
                                          :label="currentInterface.labelCopyright"
                                          label-for="copyright-input"
                                          label-class="font-weight-bold">
                                <b-form-input id="copyright-input"
                                              type="text"
                                              v-model="sectionDataAll === undefined ? 'undefined' : footerLeftP.pValue.text"
                                              required
                                              :placeholder="currentInterface.placeholderCopyright">
<!--                                              placeholder="Введите 'Copyright', например">-->
                                </b-form-input>
                                <p class="text-muted small mb-4 mb-lg-0"
                                   v-html="sectionDataAll === undefined ? 'undefined' : footerLeftP.pValue.text"></p>
                                <b-form-checkbox
                                    id="about-checkbox"
                                    v-model="sectionDataAll === undefined ? true : footerLeftP.pValue.visibility"
                                    name="checkbox-about"
                                >
<!--                                    Показывать-->
                                    {{ currentInterface.checkboxPageVisibility }}
                                </b-form-checkbox>
                            </b-form-group>

                            <hr>

<!--                            иконка -->
                            <template v-for="(item, key, index) of footerRight">
                                <b-form-group :id="'form-footer-right-' + key"
                                              :label="currentInterface.labelIconSocial + (key+1) + ':'"
                                              :label-for="'input-' + key"
                                              label-class="font-weight-bold">

                                    <b-input-group
                                        :id="'input-icon-' + key"
                                        class="py-2">

                                        <a v-bind:href="item.href"
                                           class="d-flex align-self-center">
                                            <i class="fab fa-2x fa-fw"
                                               v-bind:class="item.iconClassName">
                                            </i>
                                        </a>

                                        <b-form-input :id="'input-' + key"
                                                      type="text"
                                                      v-model="item.iconClassName"
                                                      required
                                                      :placeholder="currentInterface.placeholderIconSocial + item.iconClassName     ">
                                        </b-form-input>


                                        <b-form-select
                                            :id="'form-icons-social-input-' + key"
                                            v-model="item.iconClassName"
                                            :options="iconsSocial"
                                            required
                                        ></b-form-select>
                                    </b-input-group>

<!--                                    Показывать?..-->
                                    <b-input-group
                                        :id="'input-icon-' + key"
                                        class="py-2"
                                        :prepend="currentInterface.prependVisibilitySocial">
                                        <b-input-group-prepend is-text>
                                            <input type="checkbox"
                                                   aria-label="Checkbox for visibility"
                                                   :id="'checkbox-' + key"
                                                   v-model="item.visibility"
                                                   :name="'checkbox-' + key">
                                        </b-input-group-prepend>
                                        <b-input-group-prepend is-text>href:</b-input-group-prepend>
                                        <b-form-input :id="'input-href-' + key"
                                                      type="text"
                                                      v-model="item.href"
                                                      required
                                                      :placeholder="currentInterface.placeholderLinkIconSocial">
                                        </b-form-input>
                                    </b-input-group>

                                </b-form-group>
                            </template>


                            <b-button type="submit" variant="primary">
<!--                                Update-->
                                {{ currentInterface.buttonSubmit }}
                            </b-button>
                        </b-form>

                    </div>


                </div>
            </div>
        </section>

    </div>


</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
            interface: Object,
        },
        data: function () {
            return {
                myHTML_about: '',
                status_about: true,
                footerLeft: {},
                footerLeftP: {
                    'pValue':
                        {
                            'text': '',
                            'visibility': true,
                        }
                },
                footerRight: {},
                // footerEditUrl: (window.location.href).replace(/\/$/, "") + '/edit_footer',

                message: '',
                showMessage: false,
                iconsSocial: {},
                currentInterface: this.interface.interface.footer,
            }
        },
        mounted() {
            console.log('Component Footer mounted.');
            this.fillData();
            this.getIcons();
        },
        // computed: {
        //     footerBaseUrl: function () {
        //         let protocol = window.location.protocol;
        //         let host = window.location.host;
        //         let lang = (window.location.pathname).split('/')[1];
        //         return `${protocol}//${host}/${lang}/`;
        //     },
        // },
        // watch: {
        //     sectionDataAll: function (val) {
        //         this.footerLeft = val.sectionData.footerLeft;
        //         this.footerLeftP = val.sectionData.footerLeftP;
        //         this.footerRight = val.sectionData.footerRight;
        //         console.log(this.footerLeft == [] ? 'ничего' : ('this.footerLeft' + JSON.stringify(this.footerLeft)));
        //         console.log(this.footerRight == [] ? 'ничего' : ('this.footerRight' + JSON.stringify(this.footerRight)));
        //     },
        // },
        methods: {
            // getMessage() {
            //     const path = 'http://first.loc:8088/ru/admin/footer';
            //     axios.get(path)
            //         .then((res) => {
            //             // this.iconGrids = res.data.iconGrids;
            //
            //             this.footerLeft = res.data.footerLeft;
            //             this.footerLeftP = res.data.footerLeftP;
            //             this.footerRight = res.data.footerRight;
            //
            //             console.log(this.footerLeft == [] ? 'ничего' : ('this.footerLeft' + JSON.stringify(this.footerLeft)));
            //             console.log(this.footerRight == [] ? 'ничего' : ('this.footerRight' + JSON.stringify(this.footerRight)));
            //
            //
            //                 console.log(this.iconGrids == [] ? 'ничего' : JSON.stringify(this.iconGrids));
            //
            //
            //         })
            //         .catch((error) => {
            //             // eslint-выключение следующей строки
            //             console.error(error);
            //         })
            // },
            fillData() {
                this.footerLeft = this.sectionDataAll.sectionData.footerLeft;
                this.footerLeftP = this.sectionDataAll.sectionData.footerLeftP;
                this.footerRight = this.sectionDataAll.sectionData.footerRight;
                console.log("this.footerLeft = "  + JSON.stringify(this.footerLeft));
                console.log("this.footerRight = " + JSON.stringify(this.footerRight));
            },
            onSubmit(evt) {
                evt.preventDefault();
                const payload = {
                    'footer': {
                        'footerLeft': this.footerLeft,
                        'footerLeftP': this.footerLeftP,
                        'footerRight': this.footerRight,
                    }
                };
                this.updateFooter(payload);
            },
            updateFooter(payload) {
                // const path = `http://first.loc:8088/ru/admin/footer`;
                const path = this.routes['land.footer.index'];
                axios.put(path, payload)
                    .then((res) => {
                        console.log(res.status);

                        // обновляем данные без доп.запроса в базу данных
                        // this.sectionDataAll = res.data.sectionDataAll;


                        this.footerLeft = res.data.footer.footerLeft;
                        this.footerLeftP = res.data.footer.footerLeftP;
                        this.footerRight = res.data.footer.footerRight;

                        this.message = res.data.message;
                        this.showMessage = true;

                        console.log("this.footerLeft = "  + JSON.stringify(this.footerLeft));
                        console.log("this.footerRight = " + JSON.stringify(this.footerRight));

                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Позиция не обновлена.";
                        this.message = this.message = this.currentInterface.messageErrorUpdate;
                        this.showMessage = true;
                    })
            },

            // загружает иконки только когда открывается модальное окно и только если они не были загружены раньше
            getIcons() {
                if (Object.keys(this.iconsSocial).length === 0) {
                    // const path = 'http://first.loc:8088/ru/admin/footer/icons_social';
                    const path = this.routes['land.footer.iconsSocial'];

                    axios.get(path)
                        .then((res) => {
                            this.iconsSocial = res.data.iconsSocial;
                            console.log('iconsSocial: ' + JSON.stringify(this.iconsSocial));
                        })
                        .catch((error) => {
                            // eslint-выключение следующей строки
                            console.error(error);
                        })
                }
            },
        }
    }
</script>
