<template>
    <div>
        <header
            class="masthead text-white text-center"
            v-bind:style="{background: `url(${header.imgUrl}) no-repeat center center` }"
            v-b-modal.header-update-modal
            v-if="showDiv"
            v-on:click="fillHeaderModal">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">{{ header.headerValue }}</h1>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="email" class="form-control form-control-lg" v-bind:placeholder="header.placeholderValue">
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ header.buttonValue }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

<!--            <modal-ext-component-->
<!--                modalId="header-update-modal"-->
<!--                :interface="currentInterface.modal"-->
<!--                :editFormExt="editForm"-->
<!--                modalType="editHeader"-->
<!--                :title="currentInterface.modal.editHeaderModal.title['editHeader']"-->
<!--                v-on:modal-submit-header-update-modal="onSubmitUpdate2"-->
<!--            >-->
<!--            </modal-ext-component>-->


                        <b-modal ref="editHeaderModal"
                                 id="header-update-modal"
                                 :title="currentInterface.modal.editHeaderModal.title['editHeader']"
                                 hide-footer>
                            <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
            <!--                    Картинка-->
                                <b-form-group id="form-image-url-edit-group"
                                              label="Image URL:"
                                              :label="currentInterface.modal.commonImageChose.labelImageUrl"
                                              label-for="form-image-url-edit-input">
                                    <b-form-file id="form-image-url-edit-input"
                                                 :state="Boolean(fileImage)"
                                                 v-model="fileImage"
                                                 accept="image/*"
                                                 :placeholder="currentInterface.modal.commonImageChose.placeholderChoseFile"
                                                 :drop-placeholder="currentInterface.modal.commonImageChose.dropplaceholderChoseFile">
                                    </b-form-file>
                                    <div class="mt-3">{{ currentInterface.modal.commonImageChose.currentFile + editForm.imgUrl }}</div>
                                    <div class="mt-3">{{ currentInterface.modal.commonImageChose.selectedFile + (fileImage ? fileImage.name : '') }}</div>
                                    <b-button @click="fileImage = null">{{ currentInterface.modal.commonImageChose.unselectFile }}</b-button>
                                </b-form-group>

            <!--                    Заголовок-->
                                <b-form-group id="form-header-value-edit-group"
                                              :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                              label-for="form-header-value-edit-input">
                                    <b-form-input id="form-header-value-edit-input"
                                                  type="text"
                                                  v-model="editForm.headerValue"
                                                  required
                                                  :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                                    </b-form-input>
                                </b-form-group>

            <!--                    placeholder для input-->
                                <b-form-group id="form-placeholder-value-edit-group"
                                              :label="currentInterface.modal.commonInputPlaceholder.labelInputPlaceholder"
                                              label-for="form-placeholder-value-edit-input">
                                    <b-form-input id="form-placeholder-value-edit-input"
                                                  type="text"
                                                  v-model="editForm.placeholderValue"
                                                  required
                                                  :placeholder="currentInterface.modal.commonInputPlaceholder.placeholderInputPlaceholder">
                                    </b-form-input>
                                </b-form-group>

            <!--                    название кнопки-->
                                <b-form-group id="form-button-value-edit-group"
                                              :label="currentInterface.modal.commonButtonName.labelButtonName"
                                              label-for="form-button-value-edit-input">
                                    <b-form-input id="form-button-value-edit-input"
                                                  type="text"
                                                  v-model="editForm.buttonValue"
                                                  required
                                                  :placeholder="currentInterface.modal.commonButtonName.placeholderButtonName">
                                    </b-form-input>
                                </b-form-group>

<!--                                <b-button type="submit" variant="primary">Update</b-button>-->
<!--                                <b-button type="reset" variant="danger">Cancel</b-button>-->

                                <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }}</b-button>
                                <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset }}</b-button>

                            </b-form>
                        </b-modal>

        </header>
        <header v-else class="text-center bg-warning text-dark">
            <p>{{ hiddenSectionValue }}</p>
        </header>

        <alert v-bind:message="message"
               v-if="showMessage"
               v-on:close-alert="showMessage = !showMessage"
        ></alert>

        <div class="row justify-content-center">

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle">
<!--                Показать/Скрыть секцию-->
                {{ currentInterface.interface.buttonShowHideSection }}
            </b-button>
        </div>

    </div>


</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
            interface: Object,
        },
        data: function(){
            return {
                header: {},
                editForm: {
                    imgUrl: 'default url',
                    headerValue: 'default header',
                    placeholderValue: 'default placeholder',
                    buttonValue: 'buttonV'
                },
                fileImage: null,
                message: '',
                showMessage: false,
                showDiv: true,
                hiddenSectionValue: '',
                currentInterface: this.interface,
            }
        },
        mounted() {
            console.log('Component header mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
            this.fillData();
        },
        methods: {
            getMessage() {
                // const path = 'http://first.loc:8088/ru/admin/header';
                const path = this.routes['land.header.index'];
                axios.get(path)
                    .then((res) => {
                        if (res.data.visibility == true) {
                            this.header = res.data.header;
                            this.showDiv = true;
                            console.log("this.header = " + JSON.stringify(this.header));
                        } else {
                            this.hiddenSectionValue = res.data.hiddenSectionValue;
                            this.showDiv = false;
                            console.log("this.hiddenSectionValue = "+ JSON.stringify(this.hiddenSectionValue));
                        }
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            fillData() {
                if (this.sectionDataAll['visibility']) {
                    this.header = this.sectionDataAll['sectionData'];
                    this.showDiv = true;
                    console.log(this.header == [] ? 'ничего' : JSON.stringify(this.header));
                } else {
                    // this.hiddenSectionValue = val['sectionData'].hiddenSectionValue;
                    this.hiddenSectionValue = this.sectionDataAll['hiddenSectionValue'];
                    this.showDiv = false;
                    console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
                }
            },
            showDivToggle(){
                // this.showDiv = this.showDiv === true ? false : true;

                const payload = {
                    'visibility': this.showDiv === true ? false : true,
                    'sectionName': 'header',
                };

                // let formData = new FormData();
                // formData.append('visibility', this.showDiv); // показать/скрыть секцию
                // formData.append('sectionName', 'header'); // показать/скрыть секцию
                this.initForm();
                this.updateShowHideHeader(payload);
            },
            updateShowHideHeader(payload) {
                // const path = `http://first.loc:8088/ru/admin/visibility`;
                const path = this.routes['land.visibility.update'];
                axios.put(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    // this.message = res.data.message;
                    // this.showMessage = true;
                    this.getMessage();
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Видимость не обновлена.";
                        this.message = this.currentInterface.interface.header.messageErrorVisibility;
                        this.showMessage = true;
                    })
            },

            // ----------- UPDATE section --begin----------
            fillHeaderModal() {
                // клонируем объект
                this.editForm.imgUrl = this.header.imgUrl;
                this.editForm.headerValue = this.header.headerValue;
                this.editForm.placeholderValue = this.header.placeholderValue;
                this.editForm.buttonValue = this.header.buttonValue;
                this.fileImage = null;
                this.initMessageField();
            },

            // onSubmitUpdate2(newHeaderData) {
            //     // evt.preventDefault();
            //     // this.$refs.editHeaderModal.hide();
            //     let formData = new FormData();
            //     formData.append('file', newHeaderData.fileImage); // добавление файла новой картинки
            //
            //     formData.append('imgUrl', newHeaderData.editForm.imgUrl); // url к предыдущей картинке
            //     formData.append('_method', 'PUT');
            //     formData.append('headerValue', newHeaderData.editForm.headerValue);
            //     formData.append('placeholderValue', newHeaderData.editForm.placeholderValue);
            //     formData.append('buttonValue', newHeaderData.editForm.buttonValue);
            //
            //     this.updateHeader(formData);
            // },


            onSubmitUpdate(evt) {
                evt.preventDefault();
                this.$refs.editHeaderModal.hide();
                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('_method', 'PUT');
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('placeholderValue', this.editForm.placeholderValue);
                formData.append('buttonValue', this.editForm.buttonValue);

                this.updateHeader(formData);
            },
            updateHeader(payload) {
                // const path = `http://first.loc:8088/ru/admin/header`;
                const path = this.routes['land.header.index'];
                // axios.put(path,
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    ).then((res) => {
                        console.log(res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        // обновляем данные без доп.запроса в базу данных
                        this.header = res.data.header;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Заголовок не обновлен.";
                        this.message = this.currentInterface.interface.header.messageErrorUpdate;
                        this.showMessage = true;
                    })
            },

            onResetUpdate(evt) {
                evt.preventDefault();
                this.$refs.editHeaderModal.hide();
                this.initForm();
            },
            // ----------- UPDATE section --end----------
            initForm() {
                this.editForm.imgUrl = '';
                this.editForm.headerValue = '';
                this.editForm.placeholderValue = '';
                this.editForm.buttonValue = '';
            },
            initMessageField() {
                this.message = '';
                this.showMessage = false;
            },
        },

    }
</script>
