<template>
    <div>
        <section class="features-icons bg-light text-center"
                 v-if="showDiv">
            <div class="container">

                <div class="row">

                    <icon-grid-component
                        v-for="(iconGrid, index) in iconGrids"
                        v-bind:key="index"
                        v-bind:iconGrid="iconGrid"
                        @open-grid-modal="fillGridModal"
                    ></icon-grid-component>


                    <!--                    <modal-ext-component-->
                    <!--                        modalId="icon-grid-update-modal"-->
                    <!--                        :interface="currentInterface.modal"-->
                    <!--                        :editFormExt="editForm"-->
                    <!--                        modalType="editIconGrid"-->
                    <!--                        :title="currentInterface.modal.iconGridModal.title['editIconGrid']"-->
                    <!--                        :iconsList="icons"-->
                    <!--                        v-on:modal-submit-icon-grid-update-modal="onSubmitUpdate2"-->
                    <!--                        v-on:modal-delete-icon-grid-update-modal="onDelete"-->
                    <!--                    >-->
                    <!--                    </modal-ext-component>-->

                    <!--                    <modal-ext-component-->
                    <!--                        modalId="icon-grid-add-modal"-->
                    <!--                        :interface="currentInterface.modal"-->
                    <!--                        :editFormExt="editForm"-->
                    <!--                        modalType="addIconGrid"-->
                    <!--                        :iconsList="icons"-->
                    <!--                        :title="currentInterface.modal.iconGridModal.title['addIconGrid']"-->
                    <!--                        v-on:modal-submit-icon-grid-update-modal="onSubmitAdd2"-->
                    <!--                    >-->
                    <!--                    </modal-ext-component>-->


                    <b-modal ref="addIconGridModal"
                             id="icon-grid-add-modal"
                             :title="currentInterface.modal.iconGridModal.title['addIconGrid']"
                             hide-footer>
                        <b-form @submit="onSubmitAdd" @reset="onResetAdd" class="w-100">
                            <div class="text-center">
                                <i v-bind:class="editForm.iconName"
                                   class="m-auto text-primary"
                                    style="font-size: 4.5rem"></i>
                            </div>
                            <b-form-group id="form-icon-name-add-group"
                                          :label="currentInterface.modal.iconGridModal.labelIconName"
                                          label-for="form-icon-name-add-input">

                                <b-form-select
                                    id="form-icon-name-add-input"
                                    v-model="editForm.iconName"
                                    :options="icons"
                                    required></b-form-select>

<!--                                <b-form-input id="form-icon-name-add-input"-->
<!--                                              type="text"-->
<!--                                              v-model="editForm.iconName = selectedIcon"-->
<!--                                              required-->
<!--                                              placeholder="Enter icon name">-->
<!--                                </b-form-input>-->
                            </b-form-group>
                            <b-form-group id="form-header-value-add-group"
                                          :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                          label-for="form-header-value-add-input">
                                <b-form-input id="form-header-value-edit-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-p-value-add-group"
                                          :label="currentInterface.modal.commonInputP.labelPInput"
                                          label-for="form-p-value-add-input">
                                <b-form-input id="form-p-value-add-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputP.placeholderPInput">
                                </b-form-input>
                            </b-form-group>
<!--                            <b-button type="submit" variant="primary">Submit</b-button>-->
<!--                            <b-button type="reset" variant="danger">Cancel</b-button>-->

                            <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }}</b-button>
                            <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset }}</b-button>

                        </b-form>
                    </b-modal>

                    <b-modal ref="editIconGridModal"
                             id="icon-grid-update-modal"
                             :title="currentInterface.modal.iconGridModal.title['editIconGrid']"
                             hide-footer>
                        <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
                            <div class="text-center">
                                <i v-bind:class="editForm.iconName"
                                   class="m-auto text-primary"
                                   style="font-size: 4.5rem"></i>
                            </div>
                            <b-form-group id="form-icon-name-edit-group"
                                          :label="currentInterface.modal.iconGridModal.labelIconName"
                                          label-for="form-icon-name-edit-input">
                                <b-form-select
                                    v-model="editForm.iconName"
                                    :options="icons"
                                    required></b-form-select>

<!--                                <b-form-input id="form-icon-name-edit-input"-->
<!--                                              type="text"-->
<!--                                              v-model="editForm.iconName = selectedIcon"-->
<!--                                              required-->
<!--                                              placeholder="Enter icon name">-->
<!--                                </b-form-input>-->
                            </b-form-group>
                            <b-form-group id="form-header-value-edit-group"
                                          :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                          label-for="form-header-value-edit-input">
                                <b-form-input id="form-header-value-edit-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-p-value-edit-group"
                                          :label="currentInterface.modal.commonInputP.labelPInput"
                                          label-for="form-p-value-edit-input">
                                <b-form-input id="form-p-value-edit-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputP.placeholderPInput">
                                </b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }}</b-button>
                            <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset }}</b-button>
                            <b-button variant="danger" @click="onDeleteIconItem">{{ currentInterface.modal.commonModalButtons.buttonDelete }}</b-button>
                        </b-form>
                    </b-modal>

                </div>

            </div>
        </section>
        <section v-else class="text-center bg-warning text-dark">
            <p>{{ hiddenSectionValue }}</p>
        </section>

        <alert v-bind:message="message"
               v-if="showMessage"
               v-on:close-alert="showMessage = !showMessage"
        ></alert>

        <div class="row justify-content-center">
            <b-button
                class="btn btn-info m-1"
                v-b-modal.icon-grid-add-modal
                @click="initForm"
                v-if="showDiv">
<!--                Добавить елемент-->
                {{ currentInterface.interface.iconGrid.buttonAdd }}
            </b-button>

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle">
<!--                Показать/Скрыть секцию-->
                {{ currentInterface.interface.buttonShowHideSection }}
            </b-button>
        </div>
    </div>




</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
            interface: Object,
        },
        data: function(){
            return {
                iconGrids: {},
                editForm: {
                    id: '',
                    iconName: '',
                    headerValue: '',
                    pValue: ''
                },
                message: '',
                showMessage: false,
                showDiv: true,
                hiddenSectionValue: '',
                icons: {},
                selectedIcon: null,
                currentInterface: this.interface,
            }
        },
        mounted() {
            console.log('Component IconGrid Block mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
            this.fillData();
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         if (val['visibility']) {
        //             this.iconGrids = val['sectionData'];
        //             this.showDiv = true;
        //             console.log(this.iconGrids == [] ? 'ничего' : JSON.stringify(this.iconGrids));
        //         } else {
        //             // this.hiddenSectionValue = val['sectionData'].hiddenSectionValue;
        //             this.hiddenSectionValue = val['hiddenSectionValue'];
        //             this.showDiv = false;
        //             console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
        //         }
        //     },
        // },
        methods: {
            getMessage() {
                // const path = 'http://first.loc:8088/ru/admin/gridicons';
                const path = this.routes['land.gridicons.index'];
                axios.get(path)
                    .then((res) => {
                        if (res.data.visibility == true) {
                            this.iconGrids = res.data.iconGrids;
                            this.showDiv = true;
                            console.log("this.iconGrids = " + JSON.stringify(this.iconGrids));
                        } else {
                            this.hiddenSectionValue = res.data.hiddenSectionValue;
                            this.showDiv = false;
                            console.log("this.hiddenSectionValue = " + JSON.stringify(this.hiddenSectionValue));
                        }

                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            fillData() {
                if (this.sectionDataAll.visibility) {
                    this.iconGrids = this.sectionDataAll.sectionData;
                    this.showDiv = true;
                    console.log("this.iconGrids = " + JSON.stringify(this.iconGrids));
                } else {
                    // this.hiddenSectionValue = val['sectionData'].hiddenSectionValue;
                    this.hiddenSectionValue = this.sectionDataAll.hiddenSectionValue;
                    this.showDiv = false;
                    console.log("this.hiddenSectionValue = " + JSON.stringify(this.hiddenSectionValue));
                }
            },
            // загружает иконки только когда открывается модальное окно и только если они не были загружены раньше
            getIcons() {
                if ( Object.keys(this.icons).length === 0  ) {
                    // const path = 'http://first.loc:8088/ru/admin/gridicons/icons';
                    const path = this.routes['land.icons'];
                    axios.get(path)
                        .then((res) => {
                            this.icons = res.data.icons;
                            console.log('icons: ' + JSON.stringify(this.icons));
                        })
                        .catch((error) => {
                            // eslint-выключение следующей строки
                            console.error(error);
                        })
                }
            },
            showDivToggle(){
                // this.showDiv = this.showDiv === true ? false : true;
            // },
                const payload = {
                    'visibility': this.showDiv === true ? false : true,
                    'sectionName': 'icons_grids',
                };
                this.initForm();
                this.updateShowHideSection(payload);
            },
            updateShowHideSection(payload) {
                // const path = `http://first.loc:8088/ru/admin/visibility`;
                const path = this.routes['land.visibility.update'];
                axios.put(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.getMessage();
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Видимость не обновлена.";
                        this.message = this.currentInterface.interface.iconGrid.messageErrorVisibility;
                        this.showMessage = true;
                    })
            },


            // ------ Add icon grid ---begin-----
            // onSubmitAdd2(newIconGridData) {
            //     const payload = {
            //         iconName: newIconGridData.editForm.iconName,
            //         headerValue: newIconGridData.editForm.headerValue,
            //         pValue: newIconGridData.editForm.pValue,
            //     };
            //     this.addIconGrid(payload);
            //     this.initForm();
            // },
            onSubmitAdd(evt) {
                evt.preventDefault();
                this.$refs.addIconGridModal.hide();
                const payload = {
                    iconName: this.editForm.iconName,
                    headerValue: this.editForm.headerValue,
                    pValue: this.editForm.pValue,
                };
                this.addIconGrid(payload);
                this.initForm();
            },
            addIconGrid(payload) {
                // const path = `http://first.loc:8088/ru/admin/gridicons`;
                const path = this.routes['land.gridicons.index'];
                axios.post(path, payload)
                    .then((res) => {
                        console.log('icon grid added: ' + res.status);
                        // this.getMessage();
                        // обновляем данные без доп.запроса в базу данных
                        this.iconGrids = res.data.iconGrids;
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.getMessage();
                        // this.message = "Ошибка сервера!";
                        this.message = this.currentInterface.interface.iconGrid.messageErrorAdd;
                        this.showMessage = true;
                    })
            },
            onResetAdd(evt) {
                evt.preventDefault();
                this.$refs.addIconGridModal.hide();
                this.initForm();
            },
            // ------ Add icon grid ---end-----

            // ----------- UPDATE section --begin----------
            fillGridModal(eventData) {
                this.getIcons();
                this.editForm = eventData
                // this.selectedIcon = this.editForm.iconName;
            },
            // onDelete(newIconGridData) {
            //     // evt.preventDefault();
            //     // this.$refs.editIconGridModal.hide();
            //
            //     // const path = `http://first.loc:8088/ru/admin/gridicons/${this.editForm.id}`;
            //     const path = this.routes['land.gridicons.index'] + `/${newImageShocaseData.id}`;
            //
            //     axios.delete(path)
            //         .then((res) => {
            //             console.log('delete status: ' + res.status);
            //             this.message = res.data.message;
            //             this.showMessage = true;
            //             this.iconGrids = res.data.iconGrids;
            //
            //             // this.getMessage();
            //         })
            //         .catch((error) => {
            //             // eslint-выключение следующей строки
            //             console.error('delete error: ' + error);
            //             // this.message = "Ошибка! Позиция не удалена.";
            //             this.message = this.currentInterface.interface.iconGrid.messageErrorDelete;
            //             this.showMessage = true;
            //             // this.getMessage();
            //         })
            //
            // },
            onDeleteIconItem(evt) {
                evt.preventDefault();
                this.$refs.editIconGridModal.hide();

                // const path = `http://first.loc:8088/ru/admin/gridicons/${this.editForm.id}`;
                const path = this.routes['land.gridicons.index'] + `/${this.editForm.id}`;

                axios.delete(path)
                    .then((res) => {
                        console.log('delete status: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        this.iconGrids = res.data.iconGrids;

                        // this.getMessage();
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('delete error: ' + error);
                        // this.message = "Ошибка! Позиция не удалена.";
                        this.message = this.currentInterface.interface.iconGrid.messageErrorDelete;
                        this.showMessage = true;
                        // this.getMessage();
                    })

            },
            // onSubmitAdd2(newIconGridData) {
            //     const payload = {
            //         iconName: newIconGridData.editForm.iconName,
            //         headerValue: newIconGridData.editForm.headerValue,
            //         pValue: newIconGridData.editForm.pValue,
            //     };
            //     this.addIconGrid(payload);
            //     this.initForm();
            // },

            // onSubmitUpdate2(newIconGridData) {
            //
            //     const payload = {
            //         iconName: newIconGridData.editForm.iconName,
            //         headerValue: newIconGridData.editForm.headerValue,
            //         pValue: newIconGridData.editForm.pValue,
            //     };
            //     this.updateIconGrid(payload, newIconGridData.editForm.id);
            // },

            onSubmitUpdate(evt) {
                evt.preventDefault();
                this.$refs.editIconGridModal.hide();
                const payload = {
                    iconName: this.editForm.iconName,
                    headerValue: this.editForm.headerValue,
                    pValue: this.editForm.pValue,
                };
                this.updateIconGrid(payload, this.editForm.id);
            },
            updateIconGrid(payload, iconGridId) {
                // const path = `http://first.loc:8088/ru/admin/gridicons/${iconGridId}`;
                const path = this.routes['land.gridicons.index'] + `/${iconGridId}`;
                axios.put(path, payload)
                    .then((res) => {
                        console.log(res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        // обновляем данные без доп.запроса в базу данных
                        this.iconGrids = res.data.iconGrids;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Позиция не обновлена.";
                        this.message = this.currentInterface.interface.iconGrid.messageErrorUpdate;
                        this.showMessage = true;
                    })
            },
            onResetUpdate(evt) {
                evt.preventDefault();
                this.$refs.editIconGridModal.hide();
                this.initForm();
                // this.getMessage();
            },
            // ----------- UPDATE section --end----------
            initForm() {
                this.editForm.id = '';
                this.editForm.iconName = '';
                this.editForm.headerValue = '';
                this.editForm.pValue = '';

                this.getIcons();
                // this.selectedIcon = null;
            },
        },

    }
</script>
