<template>
    <div class="col-lg-4">

        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3"
             v-b-modal.icon-grid-update-modal
             @click="editIconGrid(iconGrid)">
            <div class="features-icons-icon d-flex">
<!--                <i class="icon-screen-desktop m-auto text-primary"></i>-->
                <i v-bind:class="iconGrid.iconName" class="m-auto text-primary"></i>
            </div>
            <h3>{{ iconGrid.headerValue }}</h3>
            <p class="lead mb-0">{{ iconGrid.pValue }}</p>
        </div>

<!--        !!! доделать по-->
<!--        https://tproger.ru/translations/developing-app-with-flask-and-vue-js/-->

    </div>


</template>

<script>
    export default {
        // props: ['iconGrid'],
        props: {
            iconGrid: Object,
        },
        mounted() {
            console.log('Component IconGrid mounted.')
        },
        methods: {
            editIconGrid(iconGrid) {
                const cloneiconGrid = Object.assign({}, iconGrid)
                this.$emit('open-grid-modal', cloneiconGrid);
            },

        }
    }
</script>
