<template>
    <div>
        <section class="showcase" v-if="showDiv">
            <div class="container-fluid p-0">
                <image-showcases-component
                    v-for="(imageShowcase, index) in imageShowcases"
                    v-bind:key="index"
                    v-bind:index="index"
                    v-bind:imageShowcase="imageShowcase"
                    @open-imageShowcase-modal="fillImageShowcaseModal"
                ></image-showcases-component>

                <!--                <modal-ext-component-->
                <!--                    modalId="image-showcase-update-modal"-->
                <!--                    :interface="currentInterface.modal"-->
                <!--                    :editFormExt="editForm"-->
                <!--                    modalType="editImageShowcase"-->
                <!--                    :title="currentInterface.modal.imageShowcaseModal.title['editImageShowcase']"-->
                <!--                    v-on:modal-submit-image-showcase-update-modal="onSubmitUpdate2"-->
                <!--                    v-on:modal-delete-image-showcase-update-modal="onDelete"-->
                <!--                >-->
                <!--                </modal-ext-component>-->

                <!--                <modal-ext-component-->
                <!--                    modalId="image-showcase-add-modal"-->
                <!--                    :interface="currentInterface.modal"-->
                <!--                    :editFormExt="editForm"-->
                <!--                    modalType="addImageShowcase"-->
                <!--                    :title="currentInterface.modal.imageShowcaseModal.title['addImageShowcase']"-->
                <!--                    v-on:modal-submit-image-showcase-add-modal="onSubmitAdd2"-->
                <!--                >-->
                <!--                </modal-ext-component>-->

                <b-modal ref="addImageShowcaseModal"
                         id="image-showcase-add-modal"
                         :title="currentInterface.modal.imageShowcaseModal.title['addImageShowcase']"
                         hide-footer>
                    <b-form @submit="onSubmitAdd" @reset="onResetAdd" class="w-100">

                        <b-form-group id="form-image-url-add-group"
                                      :label="currentInterface.modal.commonImageChose.labelImageUrl"
                                      label-for="form-image-url-add-input">
                            <b-form-file id="form-image-url-add-input"
                                         :state="Boolean(fileImage)"
                                         v-model="fileImage"
                                         accept="image/*"
                                         :required="!!!editForm.imgUrl"
                                         :placeholder="currentInterface.modal.commonImageChose.placeholderChoseFile"
                                         :drop-placeholder="currentInterface.modal.commonImageChose.dropplaceholderChoseFile">
                            </b-form-file>
                            <div class="mt-3">{{ currentInterface.modal.commonImageChose.currentFile + editForm.imgUrl}}
                            </div>
                            <div class="mt-3">{{ currentInterface.modal.commonImageChose.selectedFile + (fileImage ? fileImage.name : '') }}
                            </div>
                            <b-button @click="fileImage = null">{{ currentInterface.modal.commonImageChose.unselectFile }}
                            </b-button>
                        </b-form-group>

                        <b-form-group id="form-header-value-add-group"
                                      :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                      label-for="form-header-value-add-input">
                            <b-form-input id="form-header-value-add-input"
                                          type="text"
                                          v-model="editForm.headerValue"
                                          required
                                          :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                            </b-form-input>
                        </b-form-group>

                        <b-form-group id="form-p-value-add-group"
                                      :label="currentInterface.modal.commonInputP.labelPInput"
                                      label-for="form-p-value-add-input">
                            <b-form-input id="form-p-value-add-input"
                                          type="text"
                                          v-model="editForm.pValue"
                                          required
                                          :placeholder="currentInterface.modal.commonInputP.placeholderPInput">
                            </b-form-input>
                        </b-form-group>
                        <!--                        <b-button type="submit" variant="primary">Submit</b-button>-->
                        <!--                        <b-button type="reset" variant="danger">Cancel</b-button>-->

                        <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }}
                        </b-button>
                        <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset
                            }}
                        </b-button>

                    </b-form>
                </b-modal>

                <b-modal ref="editImageShowcaseModal"
                         id="image-showcase-update-modal"
                         :title="currentInterface.modal.imageShowcaseModal.title['editImageShowcase']"
                         hide-footer>
                    <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">

                        <b-form-group id="form-image-url-edit-group"
                                      :label="currentInterface.modal.commonImageChose.labelImageUrl"
                                      label-for="form-image-url-edit-input">
                            <b-form-file id="form-image-url-edit-input"
                                         :state="Boolean(fileImage)"
                                         v-model="fileImage"
                                         accept="image/*"
                                         :required="!!!editForm.imgUrl"
                                         :placeholder="currentInterface.modal.commonImageChose.placeholderChoseFile"
                                         :drop-placeholder="currentInterface.modal.commonImageChose.dropplaceholderChoseFile">
                            </b-form-file>
                            <div class="mt-3">{{ currentInterface.modal.commonImageChose.currentFile + editForm.imgUrl
                                }}
                            </div>
                            <div class="mt-3">{{ currentInterface.modal.commonImageChose.selectedFile + (fileImage ?
                                fileImage.name : '') }}
                            </div>
                            <b-button @click="fileImage = null">{{ currentInterface.modal.commonImageChose.unselectFile
                                }}
                            </b-button>
                        </b-form-group>

                        <b-form-group id="form-header-value-edit-group"
                                      :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                      label-for="form-header-value-edit-input">
                            <b-form-input id="form-header-value-edit-input"
                                          type="text"
                                          v-model="editForm.headerValue"
                                          required
                                          :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                            </b-form-input>
                        </b-form-group>

                        <b-form-group id="form-p-value-edit-group"
                                      :label="currentInterface.modal.commonInputP.labelPInput"
                                      label-for="form-p-value-edit-input">
                            <b-form-input id="form-p-value-edit-input"
                                          type="text"
                                          v-model="editForm.pValue"
                                          required
                                          :placeholder="currentInterface.modal.commonInputP.placeholderPInput">
                            </b-form-input>
                        </b-form-group>

                        <b-button type="submit" variant="primary">{{
                            currentInterface.modal.commonModalButtons.buttonSubmit }}
                        </b-button>
                        <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset
                            }}
                        </b-button>
                        <b-button variant="danger" @click="onDeleteIconItem">{{
                            currentInterface.modal.commonModalButtons.buttonDelete }}
                        </b-button>
                        <!--                                        <b-button type="submit" variant="primary">Update</b-button>-->
                        <!--                                        <b-button type="reset" variant="danger">Cancel</b-button>-->
                        <!--                                        <b-button variant="danger" @click="onDeleteIconItem">Delete</b-button>-->
                    </b-form>
                </b-modal>


            </div>
        </section>
        <section v-else class="text-center bg-warning text-dark">
            <p>{{ hiddenSectionValue }}</p>
        </section>

        <alert v-bind:message="message"
               v-if="showMessage"
               v-on:close-alert="showMessage = !showMessage"
        ></alert>

        <div class="row justify-content-center">

            <b-button
                class="btn btn-info m-1"
                v-b-modal.image-showcase-add-modal
                @click="initForm"
                v-if="showDiv">
                {{ currentInterface.interface.imageShowcase.buttonAdd }}
                <!--                Добавить новый Image Showcase-->
            </b-button>

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle">
                {{ currentInterface.interface.buttonShowHideSection }}
                <!--                Показать/Скрыть секцию-->
            </b-button>

        </div>

    </div>


</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
            interface: Object,
        },
        data: function () {
            return {
                imageShowcases: {},
                editForm: {
                    id: '',
                    imgUrl: '',
                    headerValue: '',
                    pValue: ''
                },
                fileImage: null,
                message: '',
                showMessage: false,
                showDiv: true,
                hiddenSectionValue: '',
                currentInterface: this.interface,
            }
        },
        mounted() {
            console.log('Component imageShowcases Block mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
            this.fillData();
        },
        methods: {
            getMessage() {
                // const path = 'http://first.loc:8088/ru/admin/imageshowcases';
                const path = this.routes['land.imageshowcases.index'];
                axios.get(path)
                    .then((res) => {
                        // this.imageShowcases = res.data.imageShowcases;
                        // console.log(this.imageShowcases == [] ? 'ничего' : JSON.stringify(this.imageShowcases));

                        if (res.data.visibility == true) {
                            this.imageShowcases = res.data.imageShowcases;
                            this.showDiv = true;
                            console.log(this.imageShowcases == [] ? 'ничего' : JSON.stringify(this.imageShowcases));
                        } else {
                            this.hiddenSectionValue = res.data.hiddenSectionValue;
                            this.showDiv = false;
                            console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
                        }

                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            fillData() {
                if (this.sectionDataAll.visibility) {
                    this.imageShowcases = this.sectionDataAll.sectionData;
                    this.showDiv = true;
                    console.log(this.imageShowcases == [] ? 'ничего' : JSON.stringify(this.imageShowcases));
                } else {
                    this.hiddenSectionValue = this.sectionDataAll.hiddenSectionValue;
                    this.showDiv = false;
                    console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
                }
            },
            showDivToggle() {
                // this.showDiv = this.showDiv === true ? false : true;
                // this.initMessageField();

                const payload = {
                    'visibility': this.showDiv === true ? false : true,
                    'sectionName': 'image_showcases',
                };
                this.initForm();
                this.initMessageField();
                this.updateShowHideSection(payload);
            },
            updateShowHideSection(payload) {
                // const path = `http://first.loc:8088/ru/admin/visibility`;
                const path = this.routes['land.visibility.update'];
                axios.put(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.getMessage();
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Видимость не обновлена.";
                        this.message = this.currentInterface.interface.imageShowcase.messageErrorVisibility;
                        this.showMessage = true;
                    })
            },
            // ------ Add ImageShowcase ---begin-----
            onSubmitAdd(evt) {
                evt.preventDefault();
                this.$refs.addImageShowcaseModal.hide();

                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('pValue', this.editForm.pValue);

                this.addImageShowcase(formData);
                this.initForm();
            },

            // onSubmitAdd2(newImageShocaseData) {
            //     // evt.preventDefault();
            //     // this.$refs.addImageShowcaseModal.hide();
            //
            //     let formData = new FormData();
            //     formData.append('file', newImageShocaseData.fileImage); // добавление файла новой картинки
            //
            //     formData.append('imgUrl', newImageShocaseData.editForm.imgUrl); // url к предыдущей картинке
            //     formData.append('headerValue', newImageShocaseData.editForm.headerValue);
            //     formData.append('pValue', newImageShocaseData.editForm.pValue);
            //
            //     this.addImageShowcase(formData);
            //     this.initForm();
            // },
            addImageShowcase(payload) {
                // const path = `http://first.loc:8088/ru/admin/imageshowcases`;
                const path = this.routes['land.imageshowcases.index'];
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then((res) => {
                        console.log('image showcase added: ' + res.status);
                        // this.getMessage();
                        // обновляем данные без доп.запроса в базу данных
                        this.imageShowcases = res.data.imageShowcases;
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.getMessage();
                        // this.message = "Ошибка сервера! Image showcase не добавлено.";
                        this.message = this.message = this.currentInterface.interface.imageShowcase.messageErrorAdd;
                        this.showMessage = true;
                    })
            },
            onResetAdd(evt) {
                evt.preventDefault();
                this.$refs.addImageShowcaseModal.hide();
                this.initForm();
            },
            // ------ Add icon grid ---end-----

            // ----------- UPDATE section --begin----------
            fillImageShowcaseModal(imageShowcase) {
                this.editForm = imageShowcase;
                this.initMessageField();
            },
            onDeleteIconItem(evt) {
                evt.preventDefault();
                this.$refs.editImageShowcaseModal.hide();

                // const path = `http://first.loc:8088/ru/admin/imageshowcases/${this.editForm.id}`;
                const path = this.routes['land.imageshowcases.index'] + `/${this.editForm.id}`;
                axios.delete(path)
                    .then((res) => {
                        console.log('delete image showcase status: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        // обновляем данные без доп.запроса в базу данных
                        this.imageShowcases = res.data.imageShowcases;
                        // this.getMessage();
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('image showcase delete error: ' + error);
                        // this.message = "Ошибка! Позиция не удалена.";
                        this.message = this.currentInterface.interface.imageShowcase.messageErrorDelete;
                        this.showMessage = true;
                        // this.getMessage();
                    })

            },

            // onDelete(newImageShocaseData) {
            //     // evt.preventDefault();
            //     // this.$refs.editImageShowcaseModal.hide();
            //
            //     // const path = `http://first.loc:8088/ru/admin/imageshowcases/${this.editForm.id}`;
            //     const path = this.routes['land.imageshowcases.index'] + `/${newImageShocaseData.id}`;
            //     axios.delete(path)
            //         .then((res) => {
            //             console.log('delete image showcase status: ' + res.status);
            //             this.message = res.data.message;
            //             this.showMessage = true;
            //             // обновляем данные без доп.запроса в базу данных
            //             this.imageShowcases = res.data.imageShowcases;
            //         })
            //         .catch((error) => {
            //             // eslint-выключение следующей строки
            //             console.error('image showcase delete error: ' + error);
            //             // this.message = "Ошибка! Позиция не удалена.";
            //             this.message = this.currentInterface.interface.imageShowcase.messageErrorDelete ;
            //             this.showMessage = true;
            //         })
            //
            // },
            onSubmitUpdate(evt) {
                evt.preventDefault();
                this.$refs.editImageShowcaseModal.hide();
                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('_method', 'PUT');
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('pValue', this.editForm.pValue);

                this.updateImageShowcase(formData, this.editForm.id);
            },
            // onSubmitUpdate2(newImageShocaseData) {
            //     // evt.preventDefault();
            //     // this.$refs.editImageShowcaseModal.hide();
            //
            //     let formData = new FormData();
            //     formData.append('file', newImageShocaseData.fileImage); // добавление файла новой картинки
            //
            //     formData.append('imgUrl', newImageShocaseData.editForm.imgUrl); // url к предыдущей картинке
            //     formData.append('_method', 'PUT');
            //     formData.append('headerValue', newImageShocaseData.editForm.headerValue);
            //     formData.append('pValue', newImageShocaseData.editForm.pValue);
            //
            //     this.updateImageShowcase(formData, newImageShocaseData.editForm.id);
            // },
            updateImageShowcase(payload, imageShowcaseId) {
                // const path = `http://first.loc:8088/ru/admin/imageshowcases/${imageShowcaseId}`;
                const path = this.routes['land.imageshowcases.index'] + `/${imageShowcaseId}`;
                // axios.put(path,
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then((res) => {
                    console.log(res.status);
                    this.message = res.data.message;
                    this.showMessage = true;
                    // обновляем данные без доп.запроса в базу данных
                    this.imageShowcases = res.data.imageShowcases;
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Позиция не обновлена.";
                        this.message = this.currentInterface.interface.imageShowcase.messageErrorUpdate;
                        this.showMessage = true;
                    })
            },
            onResetUpdate(evt) {
                evt.preventDefault();
                this.$refs.editImageShowcaseModal.hide();
                this.initForm();
            },
            // ----------- UPDATE section --end----------
            initForm() {
                this.editForm.id = '';
                this.editForm.imgUrl = '';
                this.editForm.headerValue = '';
                this.editForm.pValue = '';
            },
            initMessageField() {
                this.message = '';
                this.showMessage = false;
            },
        },
    }
</script>
