<template>
    <div>

        <section class="bg-light">

            <alert v-bind:message="message"
                   v-if="showMessage"
                   v-on:close-alert="showMessage = !showMessage"
            ></alert>

            <div class="container">
                <div class="row">

                    <div class="col">
                        <b-form @submit="onSubmit" class="w-100">
<!--                            <b-button type="submit" variant="primary">Update</b-button>-->
                            <b-button :disabled="!validateJson" type="submit" variant="primary">
                                {{ currentInterface.interface.langInterface.buttonSubmit }}
                            </b-button>
                                <h1>{{ locale }}</h1>
                                <b-form-group id="form-interface-lang-edit"
                                              :label="currentInterface.interface.langInterface.textareaName + ':'"
                                              label-for="textarea-interface-translate"
                                              label-class="font-weight-bold">

                                    <b-form-textarea
                                        id="textarea-interface-translate"
                                        v-model="currentInterfaceJson"
                                        :placeholder="currentInterface.interface.langInterface.placeholderInterface"
                                        :state="validateJson"
                                        rows="5"
                                        max-rows="15"
                                    ></b-form-textarea>

                                    <p v-if="!validateJson" class="text-danger">{{ validateJsonMessage }}</p>

                                </b-form-group>


                            <b-button :disabled="!validateJson"  type="submit" variant="primary">
<!--                                Update-->
                                {{ currentInterface.interface.langInterface.buttonSubmit }}
                            </b-button>





                        </b-form>

                    </div>


                </div>
            </div>
        </section>

    </div>


</template>

<script>
    export default {
        props: {
            allRoutes: Object,
            interface: Object,
            locale: String,
        },
        data: function () {
            return {
                message: '',
                showMessage: false,

                currentInterface: this.interface, /// уточнить!
                // currentInterfaceJson: '',
                currentInterfaceJson: JSON.stringify(this.interface, null, '\t'),
                routes: this.allRoutes,
                validateJsonMessage: '',
            }
        },
        mounted() {
            console.log('Component Interface Lang mounted.');
            console.log("this.currentInterfaceJson = " + JSON.stringify(this.interface));
            // this.fillData();
            // this.getIcons();
        },
        computed: {
            validateJson: function () {
                try {
                    JSON.parse(this.currentInterfaceJson);
                } catch (e) {
                    this.validateJsonMessage = e.message;
                    return false;
                }
                return true;

            },
        },
        // watch: {
        //     interface: function (val) {
        //         this.currentInterfaceJson = JSON.stringify(val);
        //         console.log("this.currentInterfaceJson = " + this.currentInterfaceJson);
        //     },
        // },
        methods: {
            // getMessage() {
            //     const path = 'http://first.loc:8088/ru/admin/footer';
            //     axios.get(path)
            //         .then((res) => {
            //             // this.iconGrids = res.data.iconGrids;
            //
            //             this.footerLeft = res.data.footerLeft;
            //             this.footerLeftP = res.data.footerLeftP;
            //             this.footerRight = res.data.footerRight;
            //
            //             console.log(this.footerLeft == [] ? 'ничего' : ('this.footerLeft' + JSON.stringify(this.footerLeft)));
            //             console.log(this.footerRight == [] ? 'ничего' : ('this.footerRight' + JSON.stringify(this.footerRight)));
            //
            //
            //                 console.log(this.iconGrids == [] ? 'ничего' : JSON.stringify(this.iconGrids));
            //
            //
            //         })
            //         .catch((error) => {
            //             // eslint-выключение следующей строки
            //             console.error(error);
            //         })
            // },
            fillData() {
                // this.footerLeft = this.sectionDataAll.sectionData.footerLeft;
                // this.footerLeftP = this.sectionDataAll.sectionData.footerLeftP;
                // this.footerRight = this.sectionDataAll.sectionData.footerRight;
                // console.log("this.footerLeft = "  + JSON.stringify(this.footerLeft));
                // console.log("this.footerRight = " + JSON.stringify(this.footerRight));
            },
            onSubmit(evt) {
                evt.preventDefault();
                const payload = {
                    // 'interfaceTranslationNew': this.currentInterfaceJson,
                    // 'interfaceTranslationNew': JSON.stringify(JSON.parse(this.currentInterfaceJson)),
                    'interfaceTranslationNew': JSON.parse(this.currentInterfaceJson),

                };
                this.updateRequest(payload);
            },
            updateRequest(payload) {
                // const path = this.routes['land.langInterface.update'];
                const path = this.routes['land.indexInterfaceLangsEdit'];
                axios.put(path, payload)
                    .then((res) => {
                        console.log(res.status);

                        // обновляем данные без доп.запроса в базу данных

                        this.$emit('update-all-data');

                        this.message = res.data.message;
                        this.showMessage = true;

                        console.log("this.currentInterfaceJson = " + JSON.stringify(this.interface));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = error.response.data.errors.interfaceTranslationNew;
                        this.message = error.response.data.errors.interfaceTranslationNew.join(',');
                        this.showMessage = true;
                    })
            },

        }
    }
</script>
