<template>
    <div>

        <section class="bg-light">

            <alert v-bind:message="message"
                   v-if="showMessage"
                   v-on:close-alert="showMessage = !showMessage"
            ></alert>

            <div class="container">
                <div class="row">

                    <div class="col">
                        <b-form class="w-100">

                            <table class="table table-bordered">
                                <tr>
                                    <th>{{ currentInterface.numberTh }}</th>
                                    <th>{{ currentInterface.langTh }}</th>
                                    <th>{{ currentInterface.visibiblityTh }}</th>
                                    <th>{{ currentInterface.actionTh }}</th>
                                    <th>{{ currentInterface.currentLocaleTh }}</th>
                                </tr>
                                <tr v-for="(item, key, index) of langs">
                                    <td v-html="key+1"></td>
                                    <td v-html="item.lang"></td>
                                    <td> <input v-if="item.visibility && locale != item.lang"
                                                type="checkbox"
                                                :id="'lang-' + key"
                                                :name="'lang-' + key"
                                                :value="item.visibility"
                                                v-on:change="updateLangVisibility(item.id, item.visibility = !item.visibility, key)"
                                                checked>
                                        <input v-else-if="item.visibility && locale == item.lang"
                                               type="checkbox"
                                               :id="'lang-' + key"
                                               :name="'lang-' + key"
                                               :value="item.visibility"
                                               checked
                                               disabled>
                                        <input v-else
                                               type="checkbox"
                                               :id="'lang-' + key"
                                               :name="'lang-' + key"
                                               :value="item.visibility"
                                               v-on:change="updateLangVisibility(item.id, item.visibility = !item.visibility, key)">
                                    </td>
                                    <td>
                                        <b-button v-if="Object.keys(langs).length > 1 && locale != item.lang"
                                                  variant="primary"
                                                    v-on:click="deleteLang(item.id)"
                                                    :disabled="buttonDeleteDisabled">
<!--                                                  Удалить-->
                                            {{ currentInterface.buttonDelete }}
                                        </b-button>
                                        <b-button v-else
                                                  variant="primary"
                                                  disabled>
<!--                                            Удалить-->
                                            {{ currentInterface.buttonDelete }}
                                        </b-button>
<!--                                        <p v-if="locale == item.lang">Для удаления выберите другую локаль</p>-->
                                        <p v-if="locale == item.lang">{{ currentInterface.pUnselectToDelete }}</p>

                                    </td>
                                    <td>
                                        <a class="btn btn-success"
                                           v-if="Object.keys(langs).length > 1 && locale != item.lang"
                                                  v-bind:href="allRoutesForLangChange[item.id]">
<!--                                            Выбать-->
                                            {{ currentInterface.buttonChose }}
                                        </a>
                                        <p v-else>
<!--                                            Да-->
                                            {{ currentInterface.isSelectedLocale }}
                                        </p>
                                    </td>
                                </tr>

                            </table>


                            <hr>

                        </b-form>


                        <b-form @submit.prevent="onSubmitAdd" class="w-100">
                            <b-input-group
                                id="input-add"
                                class="py-2"
                                :prepend="currentInterface.prependCopyFromLocale">
<!--                                prepend="Копировать с ">-->

<!--                                <b-input-group-prepend is-text>-->
                                <b-input-group-prepend>
                                    <b-form-select
                                        id="'select-from"
                                        v-model="selectFromLang"
                                        :options="langsSelect"
                                        required
                                    ></b-form-select>
                                </b-input-group-prepend>

                                <b-input-group-prepend is-text>
<!--                                    в-->
                                    {{ currentInterface.prependCopyToLocale }}
                                </b-input-group-prepend>


                                    <b-form-input id="inputToLang"
                                                  v-model="toLang"
                                                  :state="langState"
                                                  aria-describedby="input-live-feedback"
                                                  trim
                                                  required
                                                  class="w-auto"
                                                  :placeholder="currentInterface.placeholderLocaleEnter">
<!--                                                  placeholder="например, 'ru'">-->
                                    </b-form-input>



                                <b-input-group-append>
                                    <b-button variant="primary" type="submit">
<!--                                        Добавить-->
                                        {{ currentInterface.buttonAdd }}
                                    </b-button>

<!--                                    <b-button v-if="bShow" variant="primary" type="submit">Добавить</b-button>-->
<!--                                    <b-button v-else variant="primary" type="submit" disabled>Добавить</b-button>-->
                                </b-input-group-append>

                                <b-form-invalid-feedback id="input-live-feedback">
<!--                                    Введите два латинских символа!-->
                                    {{ currentInterface.bFormInvalidFeedback }}
                                </b-form-invalid-feedback>
                            </b-input-group>

                        </b-form>


                    </div>

                </div>
            </div>
        </section>

    </div>


</template>

<script>
    export default {
        props: {
            // sectionDataAll: Object,
            allRoutes: Object,
            allLangs: Array,
            locale: String,
            allRoutesForLangChange: Object,
            interface: Object,
        },
        data: function () {
            return {
                routes: this.allRoutes,
                langs: this.allLangs,


                selectFromLang: null,
                toLang: '',

                message: '',
                showMessage: false,
                currentInterface: this.interface.interface.lang,
                buttonDeleteDisabled: false,
            }
        },
        mounted() {
            console.log('Component Footer mounted.');

            this.selectFromLang = this.langsSelect[0].value;
        },
        computed: {
            langsSelect: function () {

                let options = this.langs.map( (value, index, array) => {
                    return {value:  value.id, text: value.lang };
                });

                // options.unshift({value: null, text: 'Язык'});

                console.log("options (langs): " + JSON.stringify(options));

                return options;
            },

            langState: function () {
                return this.toLang.length == 2 ? true : (this.toLang.length == 0 ? null : false);
            },


            // bShow: function () {
            //     return this.toLang.length != 2 || this.toLang.length == 0 ? false: true;
            // },

        //     footerBaseUrl: function () {
        //         let protocol = window.location.protocol;
        //         let host = window.location.host;
        //         let lang = (window.location.pathname).split('/')[1];
        //         return `${protocol}//${host}/${lang}/`;
        //     },
        },
        watch: {
            allLangs: function (val) {
                this.langs = val;
            },
            allRoutes: function (val) {
                this.buttonDeleteDisabled = false;
                this.routes = val;
            },


        },
        methods: {
            deleteLang(key) {
                this.buttonDeleteDisabled = true;
              console.log('удалить язык ' + key);

                const path = this.routes['land.langs.index'] + `/${key}`;

                axios.delete(path)
                    .then((res) => {
                        this.$emit('update-all-data');

                        console.log('delete lang status: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('delete lang error: ' + error);
                        // this.message = "Ошибка! Язык не удален.";
                        this.message = this.currentInterface.messageErrorDelete;
                        this.showMessage = true;
                    })
            },
            updateLangVisibility(id, visibility, key) {
                console.log('Видимость языка ' + id + ' = ' + visibility);

                const payload = {
                    'id': id,
                    'visibility': visibility,
                };

                const path = this.routes['land.langs.index'] + `/${id}`;

                axios.put(path, payload)
                    .then((res) => {
                        this.$emit('update-all-data');

                        console.log('update lang visibility: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('update lang error: ' + error);
                        // this.message = "Ошибка! Видимость языка не обновлена.";
                        this.message = this.currentInterface.messageErrorVisibility;
                        this.showMessage = true;

                        this.langs[key].visibility = !this.langs[key].visibility;
                    })
            },

            changeLocale(id) {
                console.log('Смена текущего языка ' + id);

                const payload = {
                    'id': id,
                    'visibility': true,
                };

                const path = this.routes['land.langs.index'] + `/${id}`;

                axios.put(path, payload)
                    .then((res) => {
                        this.$emit('update-all-data');

                        console.log('update lang visibility: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('update lang error: ' + error);
                        // this.message = "Ошибка! Видимость языка не обновлена.";
                        this.message = this.currentInterface.messageErrorUpdate;
                        this.showMessage = true;

                        this.langs[key].visibility = !this.langs[key].visibility;
                    })
            },



            onSubmitAdd(evt) {
                evt.preventDefault();
                const payload = {
                        'langFrom': this.selectFromLang,
                        'langTo': this.toLang,
                };
                this.storeLang(payload);
            },
            storeLang(payload) {
                // const path = `http://first.loc:8088/ru/admin/footer`;
                const path = this.routes['land.langs.index'];
                axios.post(path, payload)
                    .then((res) => {
                        console.log(res.status);

                        // обновляем данные без доп.запроса в базу данных
                        // this.langs = res.data.langs;

                        this.$emit('update-all-data');

                        this.message = res.data.message;
                        this.showMessage = true;

                        console.log('this.langs = ' + JSON.stringify(this.langs));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Язык не добавлен.";
                        // this.message = this.currentInterface.messageErrorAdd;
                        // this.message = error.response.data.errors join('\n');
                        // this.message = error.response.data.errors;
                        this.message = error.response.data.errors.langTo;
                        this.showMessage = true;
                    })
            },
        }
    }
</script>
