<template>
    <b-modal :id="modalId"
             :title="title"
             :ref="modalref"
             hide-footer
            @hidden="initForm">
        <b-form @submit.prevent="onSubmit" @reset.prevent="onReset" class="w-100">

<!--            Внешний вид иконки. Для Icon Grid-->
            <div class="text-center"
                 v-if="visibleFormParts.formIconPreviewDiv">
                <i v-bind:class="editForm.iconName"
                   class="m-auto text-primary"
                   style="font-size: 4.5rem"></i>
            </div>

            <!--            Список доступных иконок. Для Icon Grid-->
            <b-form-group id="form-icon-name-group"
                          label="Icon name:"
                          :label="interface.iconGridModal.labelIconName"
                          label-for="form-icon-name-add-input"
                          v-if="visibleFormParts.formIconNameSelectGroup">
                <b-form-select
                    id="form-icon-name-add-input"
                    v-model="editForm.iconName"
                    :options="icons"
                    required></b-form-select>
            </b-form-group>

<!--            // Название сайта. Для Navbar-->
            <b-form-group id="form-navbar-sitename-edit-group"
                          :label="interface.editNavbarModal.labelEnterSiteName"
                          label-for="form-navbar-sitename-edit-input"
                            v-if="visibleFormParts.formNavbarSitenameEditGroup">
                <b-form-input id="form-navbar-sitename-edit-input"
                              type="text"
                              v-model="editForm.newSiteName"
                              required
                              :placeholder="interface.editNavbarModal.placeholderEnterSiteName">
                </b-form-input>
            </b-form-group>

<!--            Картинка. Для Image showcase, Header -->
            <b-form-group id="form-image-url-group"
                          :label="interface.commonImageChose.labelImageUrl"
                          label-for="form-image-url-input"
                          v-if="visibleFormParts.formImageUrlGroup">
                <b-form-file id="form-image-url-input"
                             :state="Boolean(fileImage)"
                             v-model="fileImage"
                             :required="!!!editForm.imgUrl"
                             accept="image/*"
                             :placeholder="interface.commonImageChose.placeholderChoseFile"
                             :drop-placeholder="interface.commonImageChose.dropplaceholderChoseFile">
                </b-form-file>
                <div class="mt-3">{{ interface.commonImageChose.currentFile + editForm.imgUrl }}</div>
                <div class="mt-3">{{ interface.commonImageChose.selectedFile + (fileImage ? fileImage.name : '') }}</div>
                <b-button @click="fileImage = null">{{ interface.commonImageChose.unselectFile }}</b-button>
            </b-form-group>

<!--             Заголовок. Для Image showcase, Header -->
            <b-form-group id="form-header-value-group"
                          :label="interface.commonInputHeader.labelHeaderValue"
                          label-for="form-header-value-input"
                          v-if="visibleFormParts.formHeaderValueGroup">
                <b-form-input id="form-header-value-input"
                              type="text"
                              v-model="editForm.headerValue"
                              required
                              :placeholder="interface.commonInputHeader.placeholderHeaderValue">
                </b-form-input>
            </b-form-group>

<!--            параграф. Для Image Showcase   -->
            <b-form-group id="form-p-value-group"
                          :label="interface.commonInputP.labelPInput"
                          label-for="form-p-value-input"
                          v-if="visibleFormParts.formPValueGroup">
                <b-form-input id="form-p-value-input"
                              type="text"
                              v-model="editForm.pValue"
                              required
                              :placeholder="interface.commonInputP.placeholderPInput">
                </b-form-input>
            </b-form-group>

            <!--                    placeholder для input. Для Header  -->
            <b-form-group id="form-placeholder-value-edit-group"
                          :label="interface.commonInputPlaceholder.labelInputPlaceholder"
                          label-for="form-placeholder-value-input"
                          v-if="visibleFormParts.formPlaceholderValueEditGroup">
                <b-form-input id="form-p-value-input"
                              type="text"
                              v-model="editForm.placeholderValue"
                              required
                              :placeholder="interface.commonInputPlaceholder.placeholderInputPlaceholder">
                </b-form-input>
            </b-form-group>

            <!--                    название кнопки.  Для Header  -->
            <b-form-group id="form-button-value-edit-group"
                          :label="interface.commonButtonName.labelButtonName"
                          label-for="form-button-value-edit-input"
                          v-if="visibleFormParts.formButtonValueEditGroup">
                <b-form-input id="form-button-value-edit-input"
                              type="text"
                              v-model="editForm.buttonValue"
                              required
                              :placeholder="interface.commonButtonName.placeholderButtonName">
                </b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">{{ interface.commonModalButtons.buttonSubmit }}</b-button>
            <b-button type="reset" variant="danger">{{ interface.commonModalButtons.buttonReset }}</b-button>
            <b-button v-if="visibleFormParts.formDeleteButton"
                variant="danger" @click="onDelete">{{ interface.commonModalButtons.buttonDelete }}</b-button>
        </b-form>
    </b-modal>


</template>


<script>
    export default {
        props: {
            modalId: String,
            interface: Object,
            editFormExt: Object,
            modalType: String,  // add, edit
            title: String,
            iconsList: Object,
        },
        data: function () {
            return {
                fileImage: null,
                editForm: this.editFormExt,
                modalref: 'modalref-' + this.modalId,
                icons: this.iconsList,
            }
        },
        watch: {
            editFormExt: function(val) {
                this.editForm = this.editFormExt;
            },
        },
        mounted() {
            console.log('Component Modal mounted.' + this.modalId)
        },
        computed: {
          visibleFormParts: function() {
                switch (this.modalType) {
                    case 'editHeader':
                        return {
                            'formImageUrlGroup': true,
                            'formHeaderValueGroup': true,
                            'formPValueGroup': false,
                            'formPlaceholderValueEditGroup': true,
                            'formButtonValueEditGroup': true,
                            'formDeleteButton': false,
                            'formNavbarSitenameEditGroup': false,
                        };
                        break;
                    case 'editNavbar':
                        return {
                            'formImageUrlGroup': false,
                            'formHeaderValueGroup': false,
                            'formPValueGroup': false,
                            'formPlaceholderValueEditGroup': false,
                            'formButtonValueEditGroup': true,
                            'formDeleteButton': false,
                            'formNavbarSitenameEditGroup': true,
                        };
                        break;
                    case 'addImageShowcase':
                        return {
                            'formImageUrlGroup': true,
                            'formHeaderValueGroup': true,
                            'formPValueGroup': true,
                            'formPlaceholderValueEditGroup': false,
                            'formButtonValueEditGroup': false,
                            'formDeleteButton': false,
                            'formNavbarSitenameEditGroup': false,
                        };
                        break;
                    case 'editImageShowcase':
                        return {
                            'formImageUrlGroup': true,
                            'formHeaderValueGroup': true,
                            'formPValueGroup': true,
                            'formPlaceholderValueEditGroup': false,
                            'formButtonValueEditGroup': false,
                            'formDeleteButton': true,
                            'formNavbarSitenameEditGroup': false,
                        };
                        break;
                    case 'addIconGrid':
                        return {
                            'formImageUrlGroup': false,
                            'formHeaderValueGroup': true,
                            'formPValueGroup': true,
                            'formPlaceholderValueEditGroup': false,
                            'formButtonValueEditGroup': false,
                            'formDeleteButton': false,
                            'formNavbarSitenameEditGroup': false,
                            'formIconPreviewDiv': true,
                            'formIconNameSelectGroup': true,
                        };
                        break;
                    case 'editIconGrid':
                        return {
                            'formImageUrlGroup': false,
                            'formHeaderValueGroup': true,
                            'formPValueGroup': true,
                            'formPlaceholderValueEditGroup': false,
                            'formButtonValueEditGroup': false,
                            'formDeleteButton': true,
                            'formNavbarSitenameEditGroup': false,
                            'formIconPreviewDiv': true,
                            'formIconNameSelectGroup': true,
                        };
                        break;
                }

              return 1;
          }
        },
        methods: {
            onSubmit(evt) {
                this.$refs[this.modalref].hide();

                // for add, update
                this.$emit('modal-submit-' + this.modalId, {
                    'editForm': this.editForm,
                    'fileImage': this.fileImage
                });
                this.initForm();
            },
            onReset(evt) {
                this.$refs[this.modalref].hide();

                this.$emit('modal-reset-' + this.modalId);
                this.initForm();
            },

            onDelete(evt) {
                this.$refs[this.modalref].hide();

                this.$emit('modal-delete-' + this.modalId, {
                    'id': this.editForm.id,
                });
                this.initForm();
            },

            initForm() {
                this.editForm.id = '';
                this.editForm.imgUrl = '';
                this.editForm.headerValue = '';
                this.editForm.pValue = '';
                this.fileImage = null;
            },
        },
    }
</script>
