<template>
    <div>
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <div class="container-fluid"
                     v-b-modal.navbar-update-modal
                     v-on:click="fillNavbarModal">
                    <a class="navbar-brand" href="#">{{ siteName }}</a>

                    <div class="navbar-nav btn-group ml-auto pr-1" role="group"
                         v-if="routes['langs.routes'].length > 1">
                        <button disabled id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{locale}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a v-for="item in routes['langs.routes']"
                               class="dropdown-item"
                               :href="item.url">{{ item.lang }}</a>
                        </div>
                    </div>

                    <a class="btn btn-primary" href="#">{{ buttonName }}</a>
                </div>


            </div>
        </nav>

        <alert v-bind:message="message"
               v-if="showMessage"
               v-on:close-alert="showMessage = !showMessage"
        ></alert>

        <b-modal ref="editNavbarModal"
                 id="navbar-update-modal"
                 :title="currentInterface.modal.editNavbarModal.title['editNavbar']"
                 hide-footer>
            <b-form @submit="onSubmit" @reset="onReset" class="w-100">

                <b-form-group id="form-navbar-sitename-edit-group"
                              :label="currentInterface.modal.editNavbarModal.labelEnterSiteName"
                              label-for="form-navbar-sitename-edit-input">
                    <b-form-input id="form-navbar-sitename-edit-input"
                                  type="text"
                                  v-model="editForm.newSiteName"
                                  required
                                  :placeholder="currentInterface.modal.editNavbarModal.placeholderEnterSiteName">
                    </b-form-input>
                </b-form-group>


                <b-form-group id="form-navbar-buttonname-edit-group"
                              :label="currentInterface.modal.commonButtonName.labelButtonName"
                              label-for="form-navbar-buttonname-edit-input">
                    <b-form-input id="form-navbar-buttonname-edit-input"
                                  type="text"
                                  v-model="editForm.newButtonName"
                                  required
                                  :placeholder="currentInterface.modal.commonButtonName.placeholderButtonName">
                    </b-form-input>

                </b-form-group>



<!--                <b-button type="submit" variant="primary">Update</b-button>-->
<!--                <b-button type="reset" variant="danger">Cancel</b-button>-->

                <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }}</b-button>
                <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset }}</b-button>

            </b-form>
        </b-modal>


    </div>


</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
            locale: String,
            interface: Object,
        },
        data: function () {
            return {
                siteName: '',
                buttonName: '',
                editForm: {
                    newSiteName: '',
                    newButtonName: '',
                },
                message: '',
                showMessage: false,
                currentInterface: this.interface,
            }
        },
        mounted() {
            // console.log('Component navbar mounted.');
            this.fillData();
            // console.log("mounted() isUndefined(this.sectionDataAll): " + JSON.stringify(this.sectionDataAll));
        },
        updated() {
            // console.log('Component navbar update.')
            // console.log("updated() isUndefined(this.sectionDataAll): " + JSON.stringify(this.sectionDataAll));
        },
        created() {
            // console.log('Component navbar created.');
            // console.log("created() isUndefined(this.sectionDataAll): " + JSON.stringify(this.sectionDataAll));
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         this.siteName = val['sectionData'].siteName;
        //         this.buttonName = val['sectionData'].buttonName;
        //     },
        // },
        methods: {
            getMessage() {
                // const path = 'http://first.loc:8088/ru/admin/navbar';
                const path = this.routes['land.navbar.index'];
                axios.get(path)
                    .then((res) => {
                        this.siteName = res.data.navbar.siteName;
                        this.buttonName = res.data.navbar.buttonName;

                        this.editForm.newSiteName = res.data.navbar.siteName;
                        this.editForm.newButtonName = res.data.navbar.buttonName;

                        console.log(this.siteName == '' ? 'siteName = ничего' : JSON.stringify(this.siteName));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            fillData() {
                this.siteName = this.sectionDataAll.sectionData.siteName;
                this.buttonName = this.sectionDataAll.sectionData.buttonName;
            },
            fillNavbarModal() {
                this.editForm.newSiteName = this.siteName;
                this.editForm.newButtonName = this.buttonName;
                this.initMessageField();
            },
            // ----------- UPDATE section --begin----------
            onSubmit(evt) {
                evt.preventDefault();
                this.$refs.editNavbarModal.hide();
                const payload = {
                    navbar: {
                        'siteName': this.editForm.newSiteName,
                        'buttonName': this.editForm.newButtonName,
                    },
                };
                this.updateNavbar(payload);
                this.initForm();
            },
            onReset(evt) {
                evt.preventDefault();
                this.$refs.editNavbarModal.hide();
                this.initForm();
            },
            updateNavbar(payload) {
                // const path = `http://first.loc:8088/ru/admin/navbar`;
                const path = this.routes['land.navbar.index'];
                axios.put(path,
                    // axios.post(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.message = res.data.message;
                    this.showMessage = true;
                    // обновляем данные без доп.запроса в базу данных
                    this.siteName = res.data.navbar.siteName;
                    this.buttonName = res.data.navbar.buttonName;

                    // this.editForm.newSiteName = res.data.navbar.siteName;
                    // this.editForm.newButtonName = res.data.navbar.buttonName;
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Navbar не обновлен.";
                        this.message = this.currentInterface.interface.header.messageErrorUpdate;
                        this.showMessage = true;
                    })
            },

            // ----------- UPDATE header section --end----------
            initForm() {
                this.newSiteName = '';
                this.newButtonName = '';
            },
            initMessageField() {
                this.message = '';
                this.showMessage = false;
            },
        },



    }
</script>
