<template>
    <div class="col-lg-4">

        <div class="testimonial-item mx-auto mb-5 mb-lg-0"
             v-b-modal.testimonial-edit-modal
             @click="editTestimonial(testimonial)">
            <img class="img-fluid rounded-circle mb-3" v-bind:src="testimonial.imgUrl" alt="">
            <h5>{{ testimonial.headerValue }}</h5>
            <p class="font-weight-light mb-0">{{ testimonial.pValue }}</p>
        </div>

    </div>


</template>

<script>
    export default {
        // props: ['testimonial'],
        props: {
            testimonial: Object,
        },
        mounted() {
            console.log('Component Testimonial mounted.')
        },
        methods: {
            editTestimonial(testimonial) {
                const cloneTestimonial = Object.assign({}, testimonial)
                this.$emit('open-testimonial-modal', cloneTestimonial);
            },
        }
    }
</script>
