<template>
    <div>
        <section class="testimonials text-center bg-light"
                 v-if="showDiv">
            <div class="container">

                <h2 class="mb-5"
                    v-if="mainHeaderVisibility"
                    v-b-modal.testimonial-header-update-modal
                    v-on:click="newTestimonialHeader = mainHeaderValue">{{ mainHeaderValue }}</h2>

                <div class="row">

                    <testimonials-component
                        v-for="(testimonial, index) in testimonials"
                        v-bind:key="index"
                        v-bind:testimonial="testimonial"
                        @open-testimonial-modal="fillTestimonialModal"
                    ></testimonials-component>

                    <b-modal ref="addTestimonialModal"
                             id="testimonial-add-modal"
                             :title="currentInterface.modal.testimonialModal.title['addTestimonial']"
                             hide-footer>
                        <b-form @submit="onSubmitAdd" @reset="onResetAdd" class="w-100">

                            <b-form-group id="form-image-url-add-group"
                                          :label="currentInterface.modal.commonImageChose.labelImageUrl"
                                          label-for="form-image-url-add-input">
                                <b-form-file id="form-image-url-add-input"
                                             :state="Boolean(fileImage)"
                                             v-model="fileImage"
                                             accept="image/*"
                                             :required="!!!editForm.imgUrl"
                                             :placeholder="currentInterface.modal.commonImageChose.placeholderChoseFile"
                                             :drop-placeholder="currentInterface.modal.commonImageChose.dropplaceholderChoseFile">
                                </b-form-file>
                                <div class="mt-3">{{ currentInterface.modal.commonImageChose.currentFile + editForm.imgUrl}}
                                </div>
                                <div class="mt-3">{{ currentInterface.modal.commonImageChose.selectedFile + (fileImage ? fileImage.name : '') }}
                                </div>
                                <b-button @click="fileImage = null">{{ currentInterface.modal.commonImageChose.unselectFile }}
                                </b-button>
                            </b-form-group>

                            <b-form-group id="form-header-value-add-group"
                                          :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                          label-for="form-header-value-add-input">
                                <b-form-input id="form-header-value-add-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                                </b-form-input>
                            </b-form-group>

                            <b-form-group id="form-p-value-add-group"
                                          :label="currentInterface.modal.commonInputP.labelPInput"
                                          label-for="form-p-value-add-input">
                                <b-form-input id="form-p-value-add-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputP.placeholderPInput">
                                </b-form-input>
                            </b-form-group>

                            <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }} </b-button>
                            <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset }} </b-button>

                        </b-form>
                    </b-modal>

                    <b-modal ref="editTestimonialModal"
                             id="testimonial-edit-modal"
                             :title="currentInterface.modal.testimonialModal.title['editTestimonial']"
                             hide-footer>
                        <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">

                            <b-form-group id="form-image-url-edit-group"
                                          :label="currentInterface.modal.commonImageChose.labelImageUrl"
                                          label-for="form-image-url-edit-input">
                                <b-form-file id="form-image-url-edit-input"
                                             :state="Boolean(fileImage)"
                                             v-model="fileImage"
                                             accept="image/*"
                                             :required="!!!editForm.imgUrl"
                                             :placeholder="currentInterface.modal.commonImageChose.placeholderChoseFile"
                                             :drop-placeholder="currentInterface.modal.commonImageChose.dropplaceholderChoseFile">
                                </b-form-file>
                                <div class="mt-3">{{ currentInterface.modal.commonImageChose.currentFile + editForm.imgUrl}}
                                </div>
                                <div class="mt-3">{{ currentInterface.modal.commonImageChose.selectedFile + (fileImage ? fileImage.name : '') }}
                                </div>
                                <b-button @click="fileImage = null">{{ currentInterface.modal.commonImageChose.unselectFile }}
                                </b-button>
                            </b-form-group>

                            <b-form-group id="form-header-value-edit-group"
                                          :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                          label-for="form-header-value-edit-input">
                                <b-form-input id="form-header-value-edit-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                                </b-form-input>
                            </b-form-group>

                            <b-form-group id="form-p-value-edit-group"
                                          :label="currentInterface.modal.commonInputP.labelPInput"
                                          label-for="form-p-value-edit-input">
                                <b-form-input id="form-p-value-edit-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              :placeholder="currentInterface.modal.commonInputP.placeholderPInput">
                                </b-form-input>
                            </b-form-group>

                            <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }} </b-button>
                            <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset }} </b-button>
                            <b-button variant="danger" @click="onDeleteTestimonailItem">{{ currentInterface.modal.commonModalButtons.buttonDelete }} </b-button>

                        </b-form>
                    </b-modal>

                    <b-modal ref="editTestimonialHeaderModal"
                             id="testimonial-header-update-modal"
                             title="Update Header"
                             :title="currentInterface.modal.testimonialHeaderModal.title['editTestimonialHeader']"
                             hide-footer>
                        <b-form @submit="onSubmitUpdateHeader" @reset="onResetUpdateHeader" class="w-100">
                            <b-form-group id="form-testimonial-header-edit-group"
                                          :label="currentInterface.modal.commonInputHeader.labelHeaderValue"
                                          label-for="form-testimonial-header-edit-input">
                                <b-form-input id="form-testimonial-header-edit-input"
                                              type="text"
                                              v-model="newTestimonialHeader"
                                              required
                                              :placeholder="currentInterface.modal.commonInputHeader.placeholderHeaderValue">
                                </b-form-input>
                            </b-form-group>

                            <b-button type="submit" variant="primary">{{ currentInterface.modal.commonModalButtons.buttonSubmit }} </b-button>
                            <b-button type="reset" variant="danger">{{ currentInterface.modal.commonModalButtons.buttonReset }} </b-button>
                        </b-form>
                    </b-modal>

                </div>

            </div>
        </section>
        <section v-else class="text-center bg-warning text-dark">
            <p>{{ hiddenSectionValue }}</p>
        </section>

<!--        <b-alert variant="success"-->
<!--                 class="row fixed-top"-->
<!--                 dismissible-->
<!--                 show-->
<!--                 @dismissed="showMessage=!showMessage"-->
<!--                 v-if="showMessage">{{ message }}-->
<!--        </b-alert>-->

        <alert v-bind:message="message"
               v-if="showMessage"
               v-on:close-alert="showMessage = !showMessage"
        ></alert>

        <div class="row justify-content-center">
            <b-button
                class="btn btn-info m-1"
                v-b-modal.testimonial-add-modal
                @click="initForm"
                v-if="showDiv">
<!--                Добавить новый Testimonial-->
                {{ currentInterface.interface.testimonial.buttonAdd }}
            </b-button>

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle(showDiv === true ? false : true, 'testimonials')">
<!--                Показать/Скрыть секцию-->
                {{ currentInterface.interface.buttonShowHideSection }}
            </b-button>

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle(mainHeaderVisibility === true ? false : true, 'testimonialsHeader')"
                v-if="showDiv">
<!--                Показать/Скрыть заголовок-->
                {{ currentInterface.interface.testimonial.buttonShowHideHeader }}
            </b-button>
        </div>

    </div>


</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
            interface: Object,
        },
        data: function () {
            return {
                testimonials: {},
                editForm: {
                    id: '',
                    imgUrl: '',
                    headerValue: '',
                    pValue: ''
                },
                fileImage: null,
                mainHeaderValue: '',
                newTestimonialHeader: '',
                message: '',
                showMessage: false,
                showDiv: true,
                mainHeaderVisibility: true,
                hiddenSectionValue: '',
                currentInterface: this.interface,
            }
        },
        mounted() {
            console.log('Component imageShowcases Block mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
            this.fillData();
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         if (val.testimonials['visibility']) {
        //
        //             this.testimonials = val.testimonials['sectionData'];
        //             this.mainHeaderValue = val.testimonialsHeader['sectionData'];
        //             this.mainHeaderVisibility = val.testimonialsHeader['visibility'];
        //             this.showDiv = true;
        //             console.log(this.testimonials == [] ? 'ничего' : JSON.stringify(this.testimonials));
        //         } else {
        //             this.hiddenSectionValue = val.testimonials['hiddenSectionValue'];
        //             this.showDiv = false;
        //             console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
        //         }
        //     },
        // },
        methods: {
            getMessage() {
                // const path = 'http://first.loc:8088/ru/admin/testimonials';
                const path = this.routes['land.testimonials.index'];
                axios.get(path)
                    .then((res) => {
                        if (res.data.visibility == true) {
                            this.testimonials = res.data.testimonials;
                            this.mainHeaderValue = res.data.mainHeaderValue;
                            this.mainHeaderVisibility = res.data.mainHeaderVisibility;
                            this.showDiv = true;
                            console.log("this.testimonials = " +  JSON.stringify(this.testimonials));
                        } else {
                            this.hiddenSectionValue = res.data.hiddenSectionValue;
                            this.showDiv = false;
                            console.log("this.hiddenSectionValue = " +  JSON.stringify(this.hiddenSectionValue));
                        }

                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            fillData() {
                if (this.sectionDataAll.testimonials.visibility) {

                    this.testimonials = this.sectionDataAll.testimonials.sectionData;
                    this.mainHeaderValue = this.sectionDataAll.testimonialsHeader.sectionData;
                    this.mainHeaderVisibility = this.sectionDataAll.testimonialsHeader.visibility;
                    this.showDiv = true;
                    console.log("this.testimonials = " +  JSON.stringify(this.testimonials));
                } else {
                    this.hiddenSectionValue = this.sectionDataAll.testimonials.hiddenSectionValue;
                    this.showDiv = false;
                    console.log("this.hiddenSectionValue = " +  JSON.stringify(this.hiddenSectionValue));
                }
            },
            showDivToggle(visibility, sectionName) {
                const payload = {
                    'visibility': visibility,
                    'sectionName': sectionName,
                };
                this.initMessageField();
                this.updateShowHideSection(payload);
            },
            updateShowHideSection(payload) {
                // const path = `http://first.loc:8088/ru/admin/visibility`;
                const path = this.routes['land.visibility.update'];
                axios.put(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.getMessage();
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Видимость не обновлена.";
                        this.message = this.currentInterface.interface.testimonial.messageErrorVisibility;
                        this.showMessage = true;
                    })
            },
            // ------ Add testimonial ---begin-----
            onSubmitAdd(evt) {
                evt.preventDefault();
                this.$refs.addTestimonialModal.hide();

                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('pValue', this.editForm.pValue);

                this.addTestimonial(formData);
                this.initForm();
            },
            addTestimonial(payload) {
                // const path = `http://first.loc:8088/ru/admin/testimonials`;
                const path = this.routes['land.testimonials.index'];
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then((res) => {
                        console.log('testimonial added: ' + res.status);
                        // this.getMessage();
                        // обновляем данные без доп.запроса в базу данных
                        this.testimonials = res.data.testimonials;
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.getMessage();
                        // this.message = "Ошибка сервера! Testimonal не добавлен.";
                        this.message = this.currentInterface.interface.testimonial.messageErrorAdd;
                        this.showMessage = true;
                    })
            },
            onResetAdd(evt) {
                evt.preventDefault();
                this.$refs.addTestimonialModal.hide();
                this.initForm();
            },
            // ------ Add testimonial ---end-----

            // ----------- UPDATE section --begin----------
            fillTestimonialModal(imageShowcase) {
                this.editForm = imageShowcase;
                this.initMessageField();
            },
            onDeleteTestimonailItem(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialModal.hide();

                // const path = `http://first.loc:8088/ru/admin/testimonials/${this.editForm.id}`;
                const path = this.routes['land.testimonials.index'] + `/${this.editForm.id}`;
                axios.delete(path)
                    .then((res) => {
                        console.log('delete testimonial status: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        // обновляем данные без доп.запроса в базу данных
                        this.testimonials = res.data.testimonials;
                        // this.getMessage();
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('testimonial delete error: ' + error);
                        // this.message = "Ошибка! Позиция не удалена.";
                        this.message = this.currentInterface.interface.testimonial.messageErrorDelete;
                        this.showMessage = true;
                        // this.getMessage();
                    })

            },

            onSubmitUpdate(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialModal.hide();
                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('_method', 'PUT');
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('pValue', this.editForm.pValue);

                this.updateTestimonials(formData, this.editForm.id);
            },
            updateTestimonials(payload, testimonialId) {
                // const path = `http://first.loc:8088/ru/admin/testimonials/${testimonialId}`;
                const path = this.routes['land.testimonials.index'] + `/${testimonialId}`;
                // axios.put(path,
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then((res) => {
                    console.log(res.status);
                    this.message = res.data.message;
                    this.showMessage = true;
                    // обновляем данные без доп.запроса в базу данных
                    this.testimonials = res.data.testimonials;
                    // this.mainHeaderValue = res.data.mainHeaderValue;
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Позиция не обновлена.";
                        this.message = this.currentInterface.interface.testimonial.messageErrorUpdate;
                        this.showMessage = true;
                    })
            },
            onResetUpdate(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialModal.hide();
                this.initForm();
            },
            // ----------- UPDATE section --end----------

            // ----------- UPDATE header section --begin----------
            onSubmitUpdateHeader(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialHeaderModal.hide();

                const payload = {
                    mainHeaderValue: this.newTestimonialHeader,
                };
                let id = 0; // выбранное значение по умолчанию для обновления заголовка
                this.updateTestimonialsHeader(payload, id);
            },
            updateTestimonialsHeader(payload, testimonialId) {
                // const path = `http://first.loc:8088/ru/admin/testimonials/${testimonialId}`;
                const path = this.routes['land.testimonials.index'] + `/${testimonialId}`;
                axios.put(path,
                    // axios.post(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.message = res.data.message;
                    this.showMessage = true;
                    // обновляем данные без доп.запроса в базу данных
                    // this.testimonials = res.data.testimonials;
                    this.mainHeaderValue = res.data.mainHeaderValue;
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.message = "Ошибка! Заголовок не обновлен.";
                        this.message = this.currentInterface.interface.testimonial.messageErrorUpdateHeader;
                        this.showMessage = true;
                    })
            },
            onResetUpdateHeader(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialHeaderModal.hide();
                this.newTestimonialHeader = '';
            },
            // ----------- UPDATE header section --end----------

            initForm() {
                this.editForm.id = '';
                this.editForm.imgUrl = '';
                this.editForm.headerValue = '';
                this.editForm.pValue = '';
                this.fileImage = null;
            },
            initMessageField() {
                this.message = '';
                this.showMessage = false;
            },
        },
        created() {
            // this.getMessage();
        }


    }
</script>
