<template>
        <b-alert
            variant="success"
            class="row fixed-top"
            dismissible
            @dismissed="closeAlert"
            show >{{ message }}</b-alert>
</template>

<script>
    export default {
        props: {
            message: String,
        },
        methods: {
          closeAlert: function () {
              this.$emit('close-alert');
          },
        },
    }
</script>
