<template>
    <div v-if="loading" class="row justify-content-center">
        <p>Загрузка...</p>
    </div>
    <div v-else-if="Object.keys(allSections).length !== 0">

<!--        <navbar-ext-main-component-->
<!--            v-bind:sectionDataAll="allSections.navbar">-->
<!--        </navbar-ext-main-component>-->

        <navbar-ext-main-component
            v-bind:sectionDataAll="allSections.navbar"
            v-bind:routes="routes"
            v-bind:locale="currentLocale">
        </navbar-ext-main-component>


<!--        <template v-if="Object.keys(allSections).length!=0">-->
<!--            <template v-for="(item, key, index) of allSections.footer.sectionData.footerLeft">-->

<!--                <info-ext-component-->
<!--                    v-if="pagetype==key"-->
<!--                    v-bind:sectionDataAll="item">>-->
<!--                </info-ext-component>-->
<!--            </template>-->
<!--        </template>-->

        <info-ext-component
            v-if="allSections.footer.sectionData.footerLeft[pagetype] != undefined"
            v-bind:sectionDataAll="allSections.footer.sectionData.footerLeft[pagetype]">>
        </info-ext-component>
        <p v-else> Нет такой секции.. </p>


<!--        <footer-ext-main-component-->
<!--            v-bind:sectionDataAll="allSections.footer">-->
<!--        </footer-ext-main-component>-->

<!--        <footer-ext-main-component-->
<!--            v-bind:sectionDataAll="allSections.footer"-->
<!--            v-bind:routes="routes">-->
<!--        </footer-ext-main-component>-->

        <footer-block-ext-admin-component
            v-bind:sectionDataAll="allSections.footer"
            v-bind:routes="routes"
            v-bind:isAdmin="false">
        </footer-block-ext-admin-component>

    </div>
    <div v-else>
        <p>Нет данных от сервера...</p>
    </div>

</template>

<script>
    export default {
        // props: ['pagetype'],
        props: {
            pagetype: String,
            sections: Object,
            routes: Object,
            locale: String,
        },
        data: function(){
            return {
                // allSections: {},
                // loading: true,

                allSections: this.sections,
                allRoutes: this.routes,
                currentLocale: this.locale,
            }
        },
        computed: {
            loading: function () {
                return this.sections === undefined || this.routes === undefined ? true : false;
            },
        },
        methods: {
            getAllMessage() {

                console.log('pagetype = ' + this.pagetype);
                const path = 'http://first.loc:8088/ru/alldata';
                axios.get(path)
                    .then((res) => {
                        this.allSections = res.data.allSections;
                        this.loading = false;
                        console.log("getAllMessage()(this.allSections): " + JSON.stringify(this.allSections));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },

        },
        mounted() {
            // console.log('Component allblocks mounted.');
            // this.getAllMessage();
            // console.log("mounted() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },
        updated() {
            // console.log('Component allblocks update.')
            // console.log("updated() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },
        created() {
            // console.log('Component allblocks created.');
            // console.log("created() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },


    }
</script>
