<template>
    <div v-if="loading" class="row justify-content-center">
<!--        <p>Загрузка...</p>-->
        <p>{{ currentInterface.loadingMsg }}</p>
    </div>
    <div  v-else-if="Object.keys(allSections).length !== 0">

        <footer-edit-ext-component
            v-bind:sectionDataAll="allSections.footer"
            v-bind:routes="routes"
            v-bind:interface="currentInterface">
        </footer-edit-ext-component>


<!--        <footer-ext-main-component-->
<!--            v-bind:sectionDataAll="allSections.footer">-->
<!--        </footer-ext-main-component>-->

        <footer-block-ext-admin-component
            v-bind:sectionDataAll="allSections.footer"
            v-bind:routes="routes"
            v-bind:isAdmin="false"
            v-bind:interface="currentInterface">
        </footer-block-ext-admin-component>

    </div>
    <div v-else>
<!--        <p>Нет данных от сервера...</p>-->
        <p>{{ currentInterface.noServerData }}</p>
    </div>

</template>

<script>
    export default {
        props: {
            sections: Object,
            routes: Object,
            interface: Object,
        },
        data: function(){
            return {
                // allSections: {},
                // loading: true,
                allSections: this.sections,
                allRoutes: this.routes,
                currentInterface: this.interface,
            }
        },
        computed: {
            loading: function () {
                return this.sections === undefined || this.routes === undefined ? true : false;
            },
        },
        methods: {
            getAllMessage() {
                const path = 'http://first.loc:8088/ru/alldata';
                axios.get(path)
                    .then((res) => {
                        this.allSections = res.data.allSections;
                        this.loading = false;
                        console.log("getAllMessage()(this.allSections): " + JSON.stringify(this.allSections));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },

        },
        mounted() {
            // console.log('Component allblocks mounted.');
            // this.getAllMessage();
            // console.log("mounted() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },
        updated() {
            // console.log('Component allblocks update.')
            // console.log("updated() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },
        created() {
            // console.log('Component allblocks created.');
            // console.log("created() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },


    }
</script>
