<template>
    <div v-if="loading" class="row justify-content-center">
        <p>Загрузка...</p>
    </div>
    <div v-else-if="Object.keys(allSections).length !== 0">
        <navbar-ext-main-component
            v-bind:sectionDataAll="allSections.navbar"
            v-bind:routes="routes"
            v-bind:locale="currentLocale">
        </navbar-ext-main-component>

        <header-ext-main-component
            v-bind:sectionDataAll="allSections.header">
        </header-ext-main-component>


        <icon-grid-block-ext-main-component
            v-bind:sectionDataAll="allSections.icons_grids">
        </icon-grid-block-ext-main-component>

        <image-showcases-block-ext-main-component
            v-bind:sectionDataAll="allSections.image_showcases">
        </image-showcases-block-ext-main-component>

        <testimonials-block-ext-main-component
            v-bind:sectionDataAll="{
            'testimonials': allSections.testimonials,
            'testimonialsHeader': allSections.testimonialsHeader,
            }  ">
        </testimonials-block-ext-main-component>

        <calltoactions-ext-main-component
            v-bind:sectionDataAll="allSections.callToActions">
        </calltoactions-ext-main-component>

<!--        <footer-ext-main-component-->
<!--            v-bind:sectionDataAll="allSections.footer"-->
<!--            v-bind:routes="routes">-->
<!--        </footer-ext-main-component>-->

        <footer-block-ext-admin-component
            v-bind:sectionDataAll="allSections.footer"
            v-bind:routes="routes"
            v-bind:isAdmin="false">
        </footer-block-ext-admin-component>

    </div>
    <div v-else>
        <p>Нет данных от сервера...</p>
    </div>

</template>

<script>
    export default {
        // props: ['sections', 'routes'],
        props: {
          sections: Object,
          routes: Object,
            locale: String,
        },
        data: function(){
            return {
                // allSections: {},
                allSections: this.sections,
                allRoutes: this.routes,
                currentLocale: this.locale,
                // loading: true,
                // loading: false,
            }
        },
        computed: {
            loading: function () {
                return this.sections === undefined || this.routes === undefined ? true : false;
            },
        },
        methods: {
            // getAllMessage() {
            //     const path = 'http://first.loc:8088/' + this.locale + '/alldata';
            //     axios.get(path)
            //         .then((res) => {
            //             this.allSections = res.data.allSections;
            //
            //             this.loading = false;
            //             console.log("getAllMessage()(this.allSections): " + JSON.stringify(this.allSections));
            //         })
            //         .catch((error) => {
            //             // eslint-выключение следующей строки
            //             console.error(error);
            //         })
            // },

        },
        mounted() {
            // console.log('Component allblocks mounted.');
            // this.getAllMessage();
            // console.log("mounted() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },
        // updated() {
        //     console.log('Component allblocks update.')
        //     console.log("updated() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        // },
        // created() {
        //     // console.log('Component allblocks created.');
        //     this.getAllMessage();
        //     // console.log("created() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        // },


    }
</script>
