<template>

    <div v-if="loading" class="row justify-content-center">
<!--        <p>Загрузка...</p>-->
        <p>{{ currentInterface.loadingMsg }}</p>
    </div>

    <div v-else-if="Object.keys(allSections).length !== 0">

        <navbar-ext-admin-component
            v-bind:sectionDataAll="allSections.navbar"
            v-bind:routes="routes"
            v-bind:locale="currentLocale"
            v-bind:interface="currentInterface">
        </navbar-ext-admin-component>

        <header-ext-admin-component
            v-bind:sectionDataAll="allSections.header"
            v-bind:routes="routes"
            v-bind:interface="currentInterface">
        </header-ext-admin-component>

        <icon-grid-block-ext-admin-component
            v-bind:sectionDataAll="allSections.icons_grids"
            v-bind:routes="routes"
            v-bind:interface="currentInterface">
        </icon-grid-block-ext-admin-component>


        <image-showcases-block-ext-admin-component
            v-bind:sectionDataAll="allSections.image_showcases"
            v-bind:routes="routes"
            v-bind:interface="currentInterface">
        </image-showcases-block-ext-admin-component>

        <testimonials-block-ext-admin-component
            v-bind:sectionDataAll="{
            'testimonials': allSections.testimonials,
            'testimonialsHeader': allSections.testimonialsHeader,
            }  "
            v-bind:routes="routes"
            v-bind:interface="currentInterface">
        </testimonials-block-ext-admin-component>

        <calltoactions-ext-admin-component
            v-bind:sectionDataAll="allSections.callToActions"
            v-bind:routes="routes"
            v-bind:interface="currentInterface">
        </calltoactions-ext-admin-component>

        <footer-block-ext-admin-component
            v-bind:sectionDataAll="allSections.footer"
            v-bind:routes="routes"
            v-bind:isAdmin="true"
            v-bind:interface="currentInterface">
        </footer-block-ext-admin-component>

        <footer-block-ext-admin-component
            v-bind:sectionDataAll="allSections.footer"
            v-bind:routes="routes"
            v-bind:isAdmin="false"
            v-bind:interface="currentInterface">
        </footer-block-ext-admin-component>

<!--        <footer-ext-main-component-->
<!--            v-bind:sectionDataAll="allSections.footer">-->
<!--        </footer-ext-main-component>-->

    </div>
    <div v-else>
<!--        <p>Нет данных от сервера...</p>-->
        <p>{{ currentInterface.noServerData }}</p>
    </div>

</template>

<script>
    export default {
        props: {
            sections: Object,
            routes: Object,
            locale: String,
            interface: Object,
        },
        data: function(){
            return {
                // allSections: {},
                // loading: true,
                allSections: this.sections,
                allRoutes: this.routes,
                currentLocale: this.locale,
                currentInterface: this.interface,
            }
        },
        computed: {
            loading: function () {
                return this.sections === undefined || this.routes === undefined ? true : false;
            },
        },
        methods: {
            getAllMessage() {
                const path = 'http://first.loc:8088/ru/alldata';
                axios.get(path)
                    .then((res) => {
                        this.allSections = res.data.allSections;
                        this.loading = false;
                        console.log("getAllMessage()(this.allSections): " + JSON.stringify(this.allSections));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },

        },
        mounted() {
            // console.log('Component allblocks mounted.');

            // this.getAllMessage();

            // console.log("mounted() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },
        updated() {
            // console.log('Component allblocks update.')
            // console.log("updated() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },
        created() {
            // console.log('Component allblocks created.');
            // this.getAllMessage();
            // console.log("created() isUndefined(this.allSections): " + JSON.stringify(this.allSections));
        },


    }
</script>
