<template>
    <div v-if="loading"
         class="row justify-content-center">
<!--        <p>Загрузка...</p>-->
        <p>{{ currentInterface.loadingMsg }}</p>
    </div>
    <div  v-else-if="Object.keys(allSections).length !== 0">

<!--        <langs-data-add-ext-component-->
<!--            v-bind:sectionDataAll="allSections.footer"-->
        <langs-data-add-ext-component
            v-bind:allRoutes="allRoutes"
            v-bind:allLangs="allLangs"
            v-bind:locale="currentLocale"
            v-bind:allRoutesForLangChange="allRoutesForLangChange"
            v-bind:interface="currentInterface"
            v-on:update-all-data="getAllMessage">
        </langs-data-add-ext-component>



<!--        <footer-ext-main-component-->
<!--            v-bind:sectionDataAll="allSections.footer">-->
<!--        </footer-ext-main-component>-->

        <footer-block-ext-admin-component
            v-bind:sectionDataAll="allSections.footer"
            v-bind:routes="allRoutes"
            v-bind:isAdmin="false"
            v-bind:interface="currentInterface">
        </footer-block-ext-admin-component>

    </div>
    <div v-else>
        <p>{{ currentInterface.noServerData }}</p>
    </div>

</template>

<script>
    export default {
        props: {
            sections: Object,
            routes: Object,
            langs: Array,
            langs1: Object,
            locale: String,
            routes_for_lang_change: Object,
            interface: Object,
        },
        data: function(){
            return {
                allSections: this.sections,
                allRoutes: this.routes,
                allLangs: this.langs,
                currentLocale: this.locale,
                allRoutesForLangChange: this.routes_for_lang_change,
                currentInterface: this.interface,
            }
        },
        computed: {
            loading: function () {
                return this.allSections === undefined || this.allRoutes === undefined ? true : false;
            },
        },
        methods: {
            getAllMessage() {
                // const path = 'http://first.loc:8088/ru/alldata';
                const path = this.routes['land.indexAlldata'];
                axios.get(path)
                    .then((res) => {
                        this.allSections = res.data.allSections;
                        this.allRoutes = res.data.allRoutes;
                        this.allLangs = res.data.allLangs;
                        this.currentLocale = res.data.locale;
                        this.allRoutesForLangChange = res.data.routes_for_lang_change;

                        // this.loading = false;
                        console.log("this.allSections: " + JSON.stringify(this.allSections));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },

        },
    }
</script>
