<template>
    <section
        class="call-to-action text-white text-center"
        v-bind:style="{background: `url(${callToActions.imgUrl}) no-repeat center center` }"
        v-if="showDiv">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-4">{{ callToActions.headerValue }}</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" v-bind:placeholder="callToActions.placeholderValue">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">{{ callToActions.buttonValue }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
        },
        data: function(){
            return {
                callToActions: [],
                showDiv: true,
            }
        },
        mounted() {
            console.log('Component CallToActions mounted.')
            this.fillData();
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         if (val['visibility']) {
        //             this.callToActions = val['sectionData'];
        //             this.showDiv = true;
        //             console.log(this.callToActions == [] ? 'ничего' : JSON.stringify(this.callToActions));
        //         } else {
        //             this.showDiv = false;
        //         }
        //     },
        // },
        methods: {
            fillData() {
                if (this.sectionDataAll.visibility) {
                    this.callToActions = this.sectionDataAll.sectionData;
                    this.showDiv = true;
                    console.log(this.callToActions == [] ? 'ничего' : JSON.stringify(this.callToActions));
                } else {
                    this.showDiv = false;
                }
            },
        },
    }
</script>
