<template>
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">

                            <template v-for="(item, key, index) in footerLeft">
                                <template v-if="item.visibility">
                                    <li class="list-inline-item">
<!--                                        <a v-bind:href="item.href">{{ item.name }}</a>-->
<!--                                        <a v-bind:href="footerBaseUrl + item.href">{{ item.name }}</a>-->
                                        <a v-bind:href="routes[item.routeName]">{{ item.name }}</a>
                                    </li>
                                    <li class="list-inline-item"
                                        v-if="index != Object.keys(footerLeft).length - 1">&sdot;</li>
                                </template>
                            </template>

                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0"
                           v-if="footerLeftP.pValue.visibility"
                           v-html="footerLeftP.pValue.text"></p>
                    </div>


                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">

                            <template v-for="(item, key, index) in footerRight">
                                <template v-if="item.visibility">
                                    <li class="list-inline-item mr-3"
                                        v-if="index != Object.keys(footerRight).length - 1">
                                        <a v-bind:href="item.href">
                                            <i class="fab fa-2x fa-fw" v-bind:class="item.iconClassName"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item"
                                        v-else>
                                        <a v-bind:href="item.href">
                                            <i class="fab fa-2x fa-fw" v-bind:class="item.iconClassName"></i>
                                        </a>
                                    </li>
                                </template>
                            </template>
                        </ul>
                    </div>


                </div>
            </div>
        </footer>
</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
        },
        data: function(){
            return {
                footerLeft: [],
                footerLeftP: {'pValue':
                                {
                                    'text': '',
                                    'visibility': true,
                                }
                },
                footerRight: [],
                // footerBaseUrl: (window.location.href).replace(/\/$/, ""),
            }
        },
        mounted() {
            console.log('Component Footer mounted.');
            this.fillData();
        },
        computed: {
            footerBaseUrl: function () {
                let protocol = window.location.protocol;
                let host = window.location.host;
                let lang = (window.location.pathname).split('/')[1];
                return `${protocol}//${host}/${lang}/`;
            }
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         this.footerLeft = val.sectionData.footerLeft;
        //         this.footerLeftP = val.sectionData.footerLeftP;
        //         this.footerRight = val.sectionData.footerRight;
        //         console.log(this.footerLeft == [] ? 'ничего' : ('this.footerLeft' + JSON.stringify(this.footerLeft)));
        //         console.log(this.footerRight == [] ? 'ничего' : ('this.footerRight' + JSON.stringify(this.footerRight)));
        //     },
        // },
        methods: {
          fillData() {
              this.footerLeft = this.sectionDataAll.sectionData.footerLeft;
              this.footerLeftP = this.sectionDataAll.sectionData.footerLeftP;
              this.footerRight = this.sectionDataAll.sectionData.footerRight;
              console.log(this.footerLeft == [] ? 'ничего' : ('this.footerLeft' + JSON.stringify(this.footerLeft)));
              console.log(this.footerRight == [] ? 'ничего' : ('this.footerRight' + JSON.stringify(this.footerRight)));
          },
        },
    }
</script>
