<template >
        <header
            class="masthead text-white text-center"
            v-bind:style="{background: `url(${header.imgUrl}) no-repeat center center` }"
            v-if="showDiv">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">{{ header.headerValue }}</h1>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="email" class="form-control form-control-lg" v-bind:placeholder="header.placeholderValue">
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ header.buttonValue }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
        },
        data: function(){
            return {
                header: [],
                showDiv: false,
            }
        },
        mounted() {
            console.log('Component header mounted.')
            this.fillData();
        },
        // watch: {
        //     // sectionDataAll: function (val) {
        //     //         this.header = val['sectionData'];
        //     //         console.log(this.header == [] ? 'ничего' : ('Данные this.header' +JSON.stringify(this.header)));
        //     // },
        //
        //     sectionDataAll: function (val) {
        //         if (val['visibility']) {
        //             this.header = val['sectionData'];
        //             this.showDiv = true;
        //             console.log(this.header == [] ? 'ничего' : JSON.stringify(this.header));
        //         } else {
        //             this.showDiv = false;
        //         }
        //     },
        //
        // },
        methods: {
          fillData() {
                if (this.sectionDataAll.visibility) {
                    this.header = this.sectionDataAll.sectionData;
                    this.showDiv = true;
                    console.log(this.header == [] ? 'ничего' : JSON.stringify(this.header));
                } else {
                    this.showDiv = false;
                }
            },
        },
    }
</script>
