<template>
    <section class="features-icons bg-light text-center"
             v-if="showDiv">
        <div class="container">

            <div class="row">

                <icon-grid-ext-main-component
                    v-for="(iconGrid, index) in iconGrids"
                    v-bind:key="index"
                    v-bind:iconGrid="iconGrid"
                ></icon-grid-ext-main-component>

            </div>

        </div>
    </section>
</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
        },
        data: function(){
            return {
                iconGrids: {},
                showDiv: true,
            }
        },
        mounted() {
            console.log('Component IconGrid Block mounted.')
            this.fillData();
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         if (val['visibility']) {
        //             this.iconGrids = val['sectionData'];
        //             this.showDiv = true;
        //             console.log(this.iconGrids == [] ? 'ничего' : JSON.stringify(this.iconGrids));
        //         } else {
        //             this.showDiv = false;
        //         }
        //     },
        // },
        methods: {
            fillData() {
                if (this.sectionDataAll.visibility) {
                    this.iconGrids = this.sectionDataAll.sectionData;
                    this.showDiv = true;
                    console.log(this.iconGrids == [] ? 'ничего' : JSON.stringify(this.iconGrids));
                } else {
                    this.showDiv = false;
                }
            },
        },
    }
</script>
