<template>
    <div class="col-lg-4">

        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i v-bind:class="iconGrid.iconName" class="m-auto text-primary"></i>
            </div>
            <h3>{{ iconGrid.headerValue }}</h3>
            <p class="lead mb-0">{{ iconGrid.pValue }}</p>
        </div>

<!--        https://tproger.ru/translations/developing-app-with-flask-and-vue-js/-->

    </div>


</template>

<script>
    export default {
        // props: ['iconGrid'],
        props: {
            iconGrid: Object,
        },
        mounted() {
            console.log('Component IconGrid mounted.')
        },
    }
</script>
