<template>
    <section class="showcase"
             v-if="showDiv">
        <div class="container-fluid p-0" >
            <image-showcases-ext-main-component
                v-for="(imageShowcase, index) in imageShowcases"
                v-bind:key="index"
                v-bind:index="index"
                v-bind:imageShowcase="imageShowcase"
            ></image-showcases-ext-main-component>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
        },
        data: function () {
            return {
                imageShowcases: {},
                showDiv: false,
            }
        },
        mounted() {
            console.log('Component imageShowcases Block mounted.')
            this.fillData();
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         if (val['visibility']) {
        //             this.imageShowcases = val['sectionData'];
        //             this.showDiv = true;
        //             console.log(this.imageShowcases == [] ? 'ничего' : JSON.stringify(this.imageShowcases));
        //         } else {
        //             this.showDiv = false;
        //         }
        //     },
        // },
        methods: {
            fillData() {
                if (this.sectionDataAll.visibility) {
                    this.imageShowcases = this.sectionDataAll.sectionData;
                    this.showDiv = true;
                    console.log(JSON.stringify(this.imageShowcases));
                } else {
                    this.showDiv = false;
                }
            },
        },
    }
</script>
