<template>
    <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img"
             v-bind:class="myClassDivImage"
             v-bind:style="{ backgroundImage: `url(${imageShowcase.imgUrl})` }"></div>
        <div class="col-lg-6 my-auto showcase-text"
            v-bind:class="myClassDivText">
            <h2><span v-html="imageShowcase.headerValue"></span></h2>
            <p class="lead mb-0">{{ imageShowcase.pValue }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        // props: ['imageShowcase', 'index'],
        props: {
            imageShowcase: Object,
            index: Number,
        },
        data() {
            return {
                myClassDivText: '',
                myClassDivImage: '',
            }
        },
        mounted() {
            console.log('Component imageShowcase mounted.')
        },
        created() {
            let myBool = this.index % 2 == 0;
            console.log(this.index + ' четное? ' + myBool);

            this.myClassDivText = myBool == true ? 'order-lg-1' : '';
            this.myClassDivImage = myBool == true ? 'order-lg-2' : '';
        },
    }
</script>
