<template>
    <div class="container">
        <div class="row">
            <span v-html="infoText"></span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
        },
        mounted() {
            console.log('Component Info mounted.')
        },
        computed: {
            infoText: function () {
                return this.sectionDataAll===undefined ? 'Загрузка...' : this.sectionDataAll.text
            }
        },
    }
</script>
