<template>
    <nav class="navbar navbar-expand navbar-light bg-light static-top">
        <div class="container">
            <div class="container-fluid">
<!--                <a class="navbar-brand" v-bind:href="siteUrl">{{ siteName }}</a>-->
<!--                <a class="btn btn-primary" v-bind:href="buttonLoginUrl">{{ buttonName }}</a>    -->

                <a class="navbar-brand" v-bind:href="routes['land.index']">{{ siteName }}</a>

                <div class="navbar-nav btn-group ml-auto pr-1" role="group"
                     v-if="routes['langs.routes'].length > 1">
                    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{locale}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a v-for="item in routes['langs.routes']"
                           class="dropdown-item"
                           :href="item.url">{{ item.lang }}</a>
                    </div>
                </div>

                <a class="btn btn-primary" v-bind:href="routes['land.login']">{{ buttonName }}</a>
            </div>
        </div>
    </nav>

</template>

<script>
    export default {
        props: {
            sectionDataAll: Object,
            routes: Object,
            locale: String,
        },
        // data: function () {
        //     return {
        //         siteName: '',
        //         buttonName: '',
        //     }
        // },
        mounted() {
            // console.log('Component navbar mounted.');
            // this.fillData();
            // console.log("mounted() isUndefined(this.sectionDataAll): " + JSON.stringify(this.sectionDataAll));
        },
        updated() {
            // console.log('Component navbar update.');
            // console.log("updated() isUndefined(this.sectionDataAll): " + JSON.stringify(this.sectionDataAll));
        },
        created() {
            // console.log('Component navbar created.');
            // console.log("created() isUndefined(this.sectionDataAll): " + JSON.stringify(this.sectionDataAll));
        },
        computed: {
            // siteUrl: function () {
            //     let protocol = window.location.protocol;
            //     let host = window.location.host;
            //     let lang = (window.location.pathname).split('/')[1];
            //     return `${protocol}//${host}/${lang}`;
            // },
            // buttonLoginUrl: function () {
            //     return this.siteUrl + '/login';
            // },
            siteName: function () {
                return this.sectionDataAll.sectionData.siteName;
            },
            buttonName: function () {
                return this.sectionDataAll.sectionData.buttonName;
            },

        },

        // watch: {
        //     sectionDataAll: function (val) {
        //         this.siteName = val['sectionData'].siteName;
        //         this.buttonName = val['sectionData'].buttonName;
        //     },
        // },
        methods: {
          fillData() {
              this.siteName = this.sectionDataAll.sectionData.siteName;
              this.buttonName = this.sectionDataAll.sectionData.buttonName;
          },
        },
    }
</script>
