<template>
    <section class="testimonials text-center bg-light"
             v-if="showDiv">
        <div class="container">

            <h2 class="mb-5"
                v-if="mainHeaderVisibility">
                {{ mainHeaderValue }}
            </h2>

            <div class="row">
                <testimonials-ext-main-component
                    v-for="(testimonial, index) in testimonials"
                    v-bind:key="index"
                    v-bind:testimonial="testimonial"
                ></testimonials-ext-main-component>
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        // props: ['sectionDataAll'],
        props: {
            sectionDataAll: Object,
        },
        data: function () {
            return {
                testimonials: {},
                mainHeaderValue: '',
                showDiv: false,
                mainHeaderVisibility: false,
            }
        },
        mounted() {
            console.log('Component imageShowcases Block mounted.')
            this.fillData();
        },
        // watch: {
        //     sectionDataAll: function (val) {
        //         if (val.testimonials['visibility']) {
        //             this.testimonials = val.testimonials['sectionData'];
        //             this.mainHeaderValue = val.testimonialsHeader['sectionData'];
        //             this.mainHeaderVisibility = val.testimonialsHeader['visibility'];
        //             this.showDiv = true;
        //             console.log(this.testimonials == [] ? 'ничего' : JSON.stringify(this.testimonials));
        //         } else {
        //             this.showDiv = false;
        //         }
        //     },
        // },
        methods: {
            fillData() {
                if (this.sectionDataAll.testimonials.visibility) {
                    this.testimonials = this.sectionDataAll.testimonials.sectionData;
                    this.mainHeaderValue = this.sectionDataAll.testimonialsHeader.sectionData;
                    this.mainHeaderVisibility = this.sectionDataAll.testimonialsHeader.visibility;
                    this.showDiv = true;
                    console.log(JSON.stringify(this.testimonials));
                } else {
                    this.showDiv = false;
                }
            },
        },
    }
</script>
