<template>
    <div>
        <section
            class="call-to-action text-white text-center"
            v-bind:style="{background: `url(${callToActions.imgUrl}) no-repeat center center` }"
            v-b-modal.calltoactions-update-modal
            v-if="showDiv"
            v-on:click="fillCallToActionsModal">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-4">{{ callToActions.headerValue }}</h1>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="email" class="form-control form-control-lg" v-bind:placeholder="callToActions.placeholderValue">
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">{{ callToActions.buttonValue }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <b-modal ref="editCallToActionsModal"
                     id="calltoactions-update-modal"
                     title="Update"
                     hide-footer>
                <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
                    <b-form-group id="form-image-url-edit-group"
                                  label="Image URL:"
                                  label-for="form-image-url-edit-input">
                        <b-form-file id="form-image-url-edit-input"
                                     :state="Boolean(fileImage)"
                                     v-model="fileImage"
                                     accept="image/*"
                                     placeholder="Chose a image file or drop in here..."
                                     drop-placeholder="Drop file here...">
                        </b-form-file>
                        <div class="mt-3">Текущий файл: {{ editForm.imgUrl }}</div>
                        <div class="mt-3">Selected file: {{ fileImage ? fileImage.name : '' }}</div>
                        <b-button @click="fileImage = null">Очистить</b-button>
                    </b-form-group>
                    <b-form-group id="form-header-value-edit-group"
                                  label="Header value:"
                                  label-for="form-header-value-edit-input">
                        <b-form-input id="form-header-value-edit-input"
                                      type="text"
                                      v-model="editForm.headerValue"
                                      required
                                      placeholder="Enter header value">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="form-placeholder-value-edit-group"
                                  label="Placeholder value:"
                                  label-for="form-placeholder-value-edit-input">
                        <b-form-input id="form-placeholder-value-edit-input"
                                      type="text"
                                      v-model="editForm.placeholderValue"
                                      required
                                      placeholder="Enter placeholder value">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="form-button-value-edit-group"
                                  label="Button value:"
                                  label-for="form-button-value-edit-input">
                        <b-form-input id="form-button-value-edit-input"
                                      type="text"
                                      v-model="editForm.buttonValue"
                                      required
                                      placeholder="Enter button value">
                        </b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Update</b-button>
                    <b-button type="reset" variant="danger">Cancel</b-button>
                </b-form>
            </b-modal>

        </section>
        <section v-else class="text-center bg-warning text-dark">
            <p>{{ hiddenSectionValue }}</p>
        </section>

        <alert v-bind:message="message" v-if="showMessage"></alert>

        <div class="row justify-content-center">

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle">
                Показать/Скрыть секцию</b-button>
        </div>

    </div>


</template>

<script>
    export default {
        data: function(){
            return {
                callToActions: [],
                editForm: {
                    imgUrl: 'default url',
                    headerValue: 'default header',
                    placeholderValue: 'default placeholder',
                    buttonValue: 'buttonV'
                },
                fileImage: null,
                message: '',
                showMessage: false,
                showDiv: true,
                hiddenSectionValue: '',
            }
        },
        mounted() {
            console.log('Component CallToActions mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
        },
        methods: {
            getMessage() {
                const path = 'http://first.loc:8088/ru/admin/calltoactions';
                axios.get(path)
                    .then((res) => {
                        if (res.data.visibility == true) {
                            this.callToActions = res.data.callToActions;
                            this.showDiv = true;
                            console.log(this.callToActions == [] ? 'ничего' : JSON.stringify(this.callToActions));
                        } else {
                            this.hiddenSectionValue = res.data.hiddenSectionValue;
                            this.showDiv = false;
                            console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
                        }
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            // showDivToggle(){
            //     this.showDiv = this.showDiv === true ? false : true;
            //     this.initMessageField();
            // },

            showDivToggle(){
                const payload = {
                    'visibility': this.showDiv === true ? false : true,
                    'sectionName': 'callToActions',
                };
                this.initForm();
                this.updateShowHideSection(payload);
            },
            updateShowHideSection(payload) {
                const path = `http://first.loc:8088/ru/admin/visibility`;
                axios.put(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.getMessage();
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! Видимость не обновлена.";
                        this.showMessage = true;
                    })
            },

            // ----------- UPDATE section --begin----------
            fillCallToActionsModal() {
                // клонируем объект
                this.editForm.imgUrl = this.callToActions.imgUrl;
                this.editForm.headerValue = this.callToActions.headerValue;
                this.editForm.placeholderValue = this.callToActions.placeholderValue;
                this.editForm.buttonValue = this.callToActions.buttonValue;
                this.initMessageField();
            },

            onSubmitUpdate(evt) {
                evt.preventDefault();
                this.$refs.editCallToActionsModal.hide();
                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('_method', 'PUT');
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('placeholderValue', this.editForm.placeholderValue);
                formData.append('buttonValue', this.editForm.buttonValue);

                this.updateCallToActions(formData);
            },
            updateCallToActions(payload) {
                const path = `http://first.loc:8088/ru/admin/calltoactions`;
                // axios.put(path,
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    ).then((res) => {
                        console.log(res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        // обновляем данные без доп.запроса в базу данных
                        this.callToActions = res.data.callToActions;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! CallToActions не обновлен.";
                        this.showMessage = true;
                    })
            },
            onResetUpdate(evt) {
                evt.preventDefault();
                this.$refs.editCallToActionsModal.hide();
                this.initForm();
            },
            // ----------- UPDATE section --end----------
            initForm() {
                this.editForm.imgUrl = '';
                this.editForm.headerValue = '';
                this.editForm.placeholderValue = '';
                this.editForm.buttonValue = '';
            },
            initMessageField() {
                this.message = '';
                this.showMessage = false;
            },
        },
        created() {
            this.getMessage();
        }


    }
</script>
