<template>
    <div>
        <section class="features-icons bg-light text-center"
                 v-if="showDiv">
            <div class="container">


                <div class="row">

                    <icon-grid-component
                        v-for="(iconGrid, index) in iconGrids"
                        v-bind:key="index"
                        v-bind:iconGrid="iconGrid"
                        @open-grid-modal="fillGridModal"
                    ></icon-grid-component>

                    <b-modal ref="addIconGridModal"
                             id="icon-grid-add-modal"
                             title="Add new icon grid"
                             hide-footer>
                        <b-form @submit="onSubmitAdd" @reset="onResetAdd" class="w-100">
                            <b-form-group id="form-icon-name-add-group"
                                          label="Icon name:"
                                          label-for="form-icon-name-add-input">
                                <b-form-input id="form-icon-name-add-input"
                                              type="text"
                                              v-model="editForm.iconName"
                                              required
                                              placeholder="Enter icon name">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-header-value-add-group"
                                          label="Header value:"
                                          label-for="form-header-value-add-input">
                                <b-form-input id="form-header-value-edit-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              placeholder="Enter header value">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-p-value-add-group"
                                          label="Paragraph value:"
                                          label-for="form-p-value-add-input">
                                <b-form-input id="form-p-value-add-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              placeholder="Enter paragraph value">
                                </b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Submit</b-button>
                            <b-button type="reset" variant="danger">Cancel</b-button>
                        </b-form>
                    </b-modal>

                    <b-modal ref="editIconGridModal"
                             id="icon-grid-update-modal"
                             title="Update"
                             hide-footer>
                        <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
                            <b-form-group id="form-icon-name-edit-group"
                                          label="Icon name:"
                                          label-for="form-icon-name-edit-input">
                                <b-form-input id="form-icon-name-edit-input"
                                              type="text"
                                              v-model="editForm.iconName"
                                              required
                                              placeholder="Enter icon name">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-header-value-edit-group"
                                          label="Header value:"
                                          label-for="form-header-value-edit-input">
                                <b-form-input id="form-header-value-edit-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              placeholder="Enter header value">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-p-value-edit-group"
                                          label="Paragraph value:"
                                          label-for="form-p-value-edit-input">
                                <b-form-input id="form-p-value-edit-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              placeholder="Enter paragraph value">
                                </b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Update</b-button>
                            <b-button type="reset" variant="danger">Cancel</b-button>
                            <b-button variant="danger" @click="onDeleteIconItem">Delete</b-button>
                        </b-form>
                    </b-modal>

                </div>

            </div>
        </section>
        <section v-else class="text-center bg-warning text-dark">
            <p>{{ hiddenSectionValue }}</p>
        </section>


        <alert v-bind:message="message" v-if="showMessage"></alert>

        <div class="row justify-content-center">
            <b-button
                class="btn btn-info m-1"
                v-b-modal.icon-grid-add-modal
                @click="initForm"
                v-if="showDiv">
                Добавить елемент</b-button>

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle">
                Показать/Скрыть секцию</b-button>
        </div>
    </div>




</template>

<script>
    export default {
        data: function(){
            return {
                iconGrids: [],
                editForm: {
                    id: '',
                    iconName: 'default icon: icon-user',
                    headerValue: 'default header',
                    pValue: 'default p'
                },
                message: '',
                showMessage: false,
                showDiv: true,
                hiddenSectionValue: '',
            }
        },
        mounted() {
            console.log('Component IconGrid Block mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
        },
        methods: {
            getMessage() {
                const path = 'http://first.loc:8088/ru/admin/gridicons';
                axios.get(path)
                    .then((res) => {
                        if (res.data.visibility == true) {
                            this.iconGrids = res.data.iconGrids;
                            this.showDiv = true;
                            console.log(this.iconGrids == [] ? 'ничего' : JSON.stringify(this.iconGrids));
                        } else {
                            this.hiddenSectionValue = res.data.hiddenSectionValue;
                            this.showDiv = false;
                            console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
                        }

                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            showDivToggle(){
                // this.showDiv = this.showDiv === true ? false : true;
            // },
                const payload = {
                    'visibility': this.showDiv === true ? false : true,
                    'sectionName': 'icons_grids',
                };
                this.initForm();
                this.updateShowHideSection(payload);
            },
            updateShowHideSection(payload) {
                const path = `http://first.loc:8088/ru/admin/visibility`;
                axios.put(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.getMessage();
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! Видимость не обновлена.";
                        this.showMessage = true;
                    })
            },


            // ------ Add icon grid ---begin-----
            onSubmitAdd(evt) {
                evt.preventDefault();
                this.$refs.addIconGridModal.hide();
                const payload = {
                    iconName: this.editForm.iconName,
                    headerValue: this.editForm.headerValue,
                    pValue: this.editForm.pValue,
                };
                this.addIconGrid(payload);
                this.initForm();
            },
            addIconGrid(payload) {
                const path = `http://first.loc:8088/ru/admin/gridicons`;
                axios.post(path, payload)
                    .then((res) => {
                        console.log('icon grid added: ' + res.status);
                        // this.getMessage();
                        // обновляем данные без доп.запроса в базу данных
                        this.iconGrids = res.data.iconGrids;
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.getMessage();
                        this.message = "Ошибка сервера!";
                        this.showMessage = true;
                    })
            },
            onResetAdd(evt) {
                evt.preventDefault();
                this.$refs.addIconGridModal.hide();
                this.initForm();
            },
            // ------ Add icon grid ---end-----

            // ----------- UPDATE section --begin----------
            fillGridModal(eventData) {
                this.editForm = eventData;
            },
            onDeleteIconItem(evt) {
                evt.preventDefault();
                this.$refs.editIconGridModal.hide();

                const path = `http://first.loc:8088/ru/admin/gridicons/${this.editForm.id}`;
                axios.delete(path)
                    .then((res) => {
                        console.log('delete status: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        this.getMessage();
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('delete error: ' + error);
                        this.message = "Ошибка! Позиция не удалена.";
                        this.showMessage = true;
                        // this.getMessage();
                    })

            },

            onSubmitUpdate(evt) {
                evt.preventDefault();
                this.$refs.editIconGridModal.hide();
                const payload = {
                    iconName: this.editForm.iconName,
                    headerValue: this.editForm.headerValue,
                    pValue: this.editForm.pValue,
                };
                this.updateIconGrid(payload, this.editForm.id);
            },
            updateIconGrid(payload, iconGridId) {
                const path = `http://first.loc:8088/ru/admin/gridicons/${iconGridId}`;
                axios.put(path, payload)
                    .then((res) => {
                        console.log(res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        // обновляем данные без доп.запроса в базу данных
                        this.iconGrids = res.data.iconGrids;
                        // this.getMessage();
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! Позиция не обновлена.";
                        this.showMessage = true;
                        // this.getMessage();
                    })
            },
            onResetUpdate(evt) {
                evt.preventDefault();
                this.$refs.editIconGridModal.hide();
                this.initForm();
                // this.getMessage();
            },
            // ----------- UPDATE section --end----------
            initForm() {
                this.editForm.id = '';
                this.editForm.iconName = '';
                this.editForm.headerValue = '';
                this.editForm.pValue = '';
            },
        },
        created() {
            this.getMessage();
        }


    }
</script>
