<template>
    <nav class="navbar navbar-light bg-light static-top"
         v-if="isAdmin">
        <div class="container">
            <div class="container-fluid"
                 v-b-modal.navbar-update-modal
                 v-on:click="fillNavbarModal">
                <a class="navbar-brand" href="#">{{ siteName }}</a>
                <a class="btn btn-primary" href="#">{{ buttonName }}</a>
            </div>

            <div>
                <alert v-bind:message="message" v-if="showMessage"></alert>
            </div>

            <b-modal ref="editNavbarModal"
                     id="navbar-update-modal"
                     title="Update"
                     hide-footer>
                <b-form @submit="onSubmit" @reset="onReset" class="w-100">
                    <b-form-group id="form-navbar-sitename-edit-group"
                                  label="Название сайта:"
                                  label-for="form-navbar-sitename-edit-input">
                        <b-form-input id="form-navbar-sitename-edit-input"
                                      type="text"
                                      v-model="editForm.newSiteName"
                                      required
                                      placeholder="Введите название сайта">
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-navbar-buttonname-edit-group"
                                  label="Название кнопки:"
                                  label-for="form-navbar-buttonname-edit-input">
                        <b-form-input id="form-navbar-buttonname-edit-input"
                                      type="text"
                                      v-model="editForm.newButtonName"
                                      required
                                      placeholder="Введите название кнопки">
                        </b-form-input>

                    </b-form-group>

                    <b-button type="submit" variant="primary">Update</b-button>
                    <b-button type="reset" variant="danger">Cancel</b-button>
                </b-form>
            </b-modal>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-light static-top"
         v-else>

        <div class="container-fluid"
             v-b-modal.navbar-update-modal>
            <a class="navbar-brand" href="#">{{ siteName }}qqq</a>
            <a class="btn btn-primary" href="#">{{ buttonName }}aaa</a>
        </div>
    </nav>

</template>

<script>
    export default {
        data: function () {
            return {
                siteName: '',
                buttonName: '',
                editForm: {
                    newSiteName: '',
                    newButtonName: '',
                },
                message: '',
                showMessage: false,
                isAdmin: true,
            }
        },
        mounted() {
            console.log('Component navbar mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
        },
        methods: {
            getMessage() {
                const path = 'http://first.loc:8088/ru/admin/navbar';
                axios.get(path)
                    .then((res) => {
                        this.siteName = res.data.navbar.siteName;
                        this.buttonName = res.data.navbar.buttonName;

                        this.editForm.newSiteName = res.data.navbar.siteName;
                        this.editForm.newButtonName = res.data.navbar.buttonName;

                        console.log(this.siteName == '' ? 'siteName = ничего' : JSON.stringify(this.siteName));
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            fillNavbarModal() {
                this.editForm.newSiteName = this.siteName;
                this.editForm.newButtonName = this.buttonName;
                this.initMessageField();
            },
            // ----------- UPDATE section --begin----------
            onSubmit(evt) {
                evt.preventDefault();
                this.$refs.editNavbarModal.hide();
                const payload = {
                    navbar: {
                        'siteName': this.editForm.newSiteName,
                        'buttonName': this.editForm.newButtonName,
                    },
                };
                this.updateNavbar(payload);
                this.initForm();
            },
            onReset(evt) {
                evt.preventDefault();
                this.$refs.editNavbarModal.hide();
                this.initForm();
            },
            updateNavbar(payload) {
                const path = `http://first.loc:8088/ru/admin/navbar`;
                axios.put(path,
                    // axios.post(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.message = res.data.message;
                    this.showMessage = true;
                    // обновляем данные без доп.запроса в базу данных
                    this.siteName = res.data.navbar.siteName;
                    this.buttonName = res.data.navbar.buttonName;

                    // this.editForm.newSiteName = res.data.navbar.siteName;
                    // this.editForm.newButtonName = res.data.navbar.buttonName;
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! Navbar не обновлен.";
                        this.showMessage = true;
                    })
            },

            // ----------- UPDATE header section --end----------
            initForm() {
                this.newSiteName = '';
                this.newButtonName = '';
            },
            initMessageField() {
                this.message = '';
                this.showMessage = false;
            },
        },
        created() {
            this.getMessage();
        }


    }
</script>
