<template>
    <div>
        <section class="testimonials text-center bg-light"
                 v-if="showDiv">
            <div class="container">

                <h2 class="mb-5"
                    v-if="mainHeaderVisibility"
                    v-b-modal.testimonial-header-update-modal
                    v-on:click="newTestimonialHeader = mainHeaderValue">{{ mainHeaderValue }}</h2>

                <div class="row">

                    <testimonials-component
                        v-for="(testimonial, index) in testimonials"
                        v-bind:key="index"
                        v-bind:testimonial="testimonial"
                        @open-testimonial-modal="fillTestimonialModal"
                    ></testimonials-component>

                    <b-modal ref="addTestimonialModal"
                             id="testimonial-add-modal"
                             title="Add new testimonial"
                             hide-footer>
                        <b-form @submit="onSubmitAdd" @reset="onResetAdd" class="w-100">
                            <b-form-group id="form-image-url-add-group"
                                          label="Image URL:"
                                          label-for="form-image-url-add-input">
                                <b-form-file id="form-image-url-add-input"
                                             :state="Boolean(fileImage)"
                                             v-model="fileImage"
                                             required
                                             accept="image/*"
                                             placeholder="Chose a image file or drop in here..."
                                             drop-placeholder="Drop file here...">
                                </b-form-file>
                                <div class="mt-3">Текущий файл: {{ editForm.imgUrl }}</div>
                                <div class="mt-3">Selected file: {{ fileImage ? fileImage.name : '' }}</div>
                                <b-button @click="fileImage = null">Очистить</b-button>
                            </b-form-group>
                            <b-form-group id="form-header-value-add-group"
                                          label="Header value:"
                                          label-for="form-header-value-add-input">
                                <b-form-input id="form-header-value-add-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              placeholder="Enter header value">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-p-value-add-group"
                                          label="Paragraph value:"
                                          label-for="form-p-value-add-input">
                                <b-form-input id="form-p-value-add-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              placeholder="Enter paragraph value">
                                </b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Submit</b-button>
                            <b-button type="reset" variant="danger">Cancel</b-button>
                        </b-form>
                    </b-modal>

                    <b-modal ref="editTestimonialModal"
                             id="testimonial-update-modal"
                             title="Update"
                             hide-footer>
                        <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
                            <b-form-group id="form-image-url-edit-group"
                                          label="Image URL:"
                                          label-for="form-image-url-edit-input">
                                <b-form-file id="form-image-url-edit-input"
                                             :state="Boolean(fileImage)"
                                             v-model="fileImage"
                                             accept="image/*"
                                             placeholder="Chose a image file or drop in here..."
                                             drop-placeholder="Drop file here...">
                                </b-form-file>
                                <div class="mt-3">Текущий файл: {{ editForm.imgUrl }}</div>
                                <div class="mt-3">Selected file: {{ fileImage ? fileImage.name : '' }}</div>
                                <b-button @click="fileImage = null">Очистить</b-button>
                            </b-form-group>
                            <b-form-group id="form-header-value-edit-group"
                                          label="Header value:"
                                          label-for="form-header-value-edit-input">
                                <b-form-input id="form-header-value-edit-input"
                                              type="text"
                                              v-model="editForm.headerValue"
                                              required
                                              placeholder="Enter header value">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="form-p-value-edit-group"
                                          label="Paragraph value:"
                                          label-for="form-p-value-edit-input">
                                <b-form-input id="form-p-value-edit-input"
                                              type="text"
                                              v-model="editForm.pValue"
                                              required
                                              placeholder="Enter paragraph value">
                                </b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Update</b-button>
                            <b-button type="reset" variant="danger">Cancel</b-button>
                            <b-button variant="danger" @click="onDeleteTestimonailItem">Delete</b-button>
                        </b-form>
                    </b-modal>

                    <b-modal ref="editTestimonialHeaderModal"
                             id="testimonial-header-update-modal"
                             title="Update Header"
                             hide-footer>
                        <b-form @submit="onSubmitUpdateHeader" @reset="onResetUpdateHeader" class="w-100">
                            <b-form-group id="form-testimonial-header-edit-group"
                                          label="Header value:"
                                          label-for="form-testimonial-header-edit-input">
                                <b-form-input id="form-testimonial-header-edit-input"
                                              type="text"
                                              v-model="newTestimonialHeader"
                                              required
                                              placeholder="Enter header value">
                                </b-form-input>
                            </b-form-group>

                            <b-button type="submit" variant="primary">Update</b-button>
                            <b-button type="reset" variant="danger">Cancel</b-button>
                        </b-form>
                    </b-modal>

                </div>

            </div>
        </section>
        <section v-else class="text-center bg-warning text-dark">
            <p>{{ hiddenSectionValue }}</p>
        </section>


        <alert v-bind:message="message" v-if="showMessage"></alert>

        <div class="row justify-content-center">
            <b-button
                class="btn btn-info m-1"
                v-b-modal.testimonial-add-modal
                @click="initForm"
                v-if="showDiv">
                Добавить новый Testimonial
            </b-button>

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle(showDiv === true ? false : true, 'testimonials')">
                Показать/Скрыть секцию
            </b-button>

            <b-button
                class="btn btn-info m-1"
                @click="showDivToggle(mainHeaderVisibility === true ? false : true, 'testimonialsHeader')"
                v-if="showDiv">
                Показать/Скрыть заголовок
            </b-button>
        </div>

    </div>


</template>

<script>
    export default {
        data: function () {
            return {
                testimonials: [],
                editForm: {
                    id: '',
                    imgUrl: 'default url',
                    headerValue: 'default header',
                    pValue: 'default p'
                },
                fileImage: null,
                mainHeaderValue: 'What people are saying...',
                newTestimonialHeader: '',
                message: '',
                showMessage: false,
                showDiv: true,
                mainHeaderVisibility: true,
                hiddenSectionValue: '',
            }
        },
        mounted() {
            console.log('Component imageShowcases Block mounted.')
            // после загрузки JS приложения обратиться на сервер и получить список данных
        },
        methods: {
            getMessage() {
                const path = 'http://first.loc:8088/ru/admin/testimonials';
                axios.get(path)
                    .then((res) => {
                        if (res.data.visibility == true) {
                            this.testimonials = res.data.testimonials;
                            this.mainHeaderValue = res.data.mainHeaderValue;
                            this.mainHeaderVisibility = res.data.mainHeaderVisibility;
                            this.showDiv = true;
                            console.log(this.testimonials == [] ? 'ничего' : JSON.stringify(this.testimonials));
                        } else {
                            this.hiddenSectionValue = res.data.hiddenSectionValue;
                            this.showDiv = false;
                            console.log(this.hiddenSectionValue == [] ? 'ничего' : JSON.stringify(this.hiddenSectionValue));
                        }

                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                    })
            },
            showDivToggle(visibility, sectionName) {
                const payload = {
                    'visibility': visibility,
                    'sectionName': sectionName,
                };
                this.initMessageField();
                this.updateShowHideSection(payload);
            },
            updateShowHideSection(payload) {
                const path = `http://first.loc:8088/ru/admin/visibility`;
                axios.put(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.getMessage();
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! Видимость не обновлена.";
                        this.showMessage = true;
                    })
            },
            // ------ Add testimonial ---begin-----
            onSubmitAdd(evt) {
                evt.preventDefault();
                this.$refs.addTestimonialModal.hide();

                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('pValue', this.editForm.pValue);

                this.addTestimonial(formData);
                this.initForm();
            },
            addTestimonial(payload) {
                const path = `http://first.loc:8088/ru/admin/testimonials`;
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then((res) => {
                        console.log('testimonial added: ' + res.status);
                        // this.getMessage();
                        // обновляем данные без доп.запроса в базу данных
                        this.testimonials = res.data.testimonials;
                        this.message = res.data.message;
                        this.showMessage = true;
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        // this.getMessage();
                        this.message = "Ошибка сервера! Testimonal не добавлен.";
                        this.showMessage = true;
                    })
            },
            onResetAdd(evt) {
                evt.preventDefault();
                this.$refs.addTestimonialModal.hide();
                this.initForm();
            },
            // ------ Add testimonial ---end-----

            // ----------- UPDATE section --begin----------
            fillTestimonialModal(imageShowcase) {
                this.editForm = imageShowcase;
                this.initMessageField();
            },
            onDeleteTestimonailItem(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialModal.hide();

                const path = `http://first.loc:8088/ru/admin/testimonials/${this.editForm.id}`;
                axios.delete(path)
                    .then((res) => {
                        console.log('delete testimonial status: ' + res.status);
                        this.message = res.data.message;
                        this.showMessage = true;
                        // обновляем данные без доп.запроса в базу данных
                        this.testimonials = res.data.testimonials;
                        // this.getMessage();
                    })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error('testimonial delete error: ' + error);
                        this.message = "Ошибка! Позиция не удалена.";
                        this.showMessage = true;
                        // this.getMessage();
                    })

            },

            onSubmitUpdate(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialModal.hide();
                let formData = new FormData();
                formData.append('file', this.fileImage); // добавление файла новой картинки

                formData.append('imgUrl', this.editForm.imgUrl); // url к предыдущей картинке
                formData.append('_method', 'PUT');
                formData.append('headerValue', this.editForm.headerValue);
                formData.append('pValue', this.editForm.pValue);

                this.updateTestimonials(formData, this.editForm.id);
            },
            updateTestimonials(payload, testimonialId) {
                const path = `http://first.loc:8088/ru/admin/testimonials/${testimonialId}`;
                // axios.put(path,
                axios.post(path,
                    payload,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then((res) => {
                    console.log(res.status);
                    this.message = res.data.message;
                    this.showMessage = true;
                    // обновляем данные без доп.запроса в базу данных
                    this.testimonials = res.data.testimonials;
                    // this.mainHeaderValue = res.data.mainHeaderValue;
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! Позиция не обновлена.";
                        this.showMessage = true;
                    })
            },
            onResetUpdate(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialModal.hide();
                this.initForm();
            },
            // ----------- UPDATE section --end----------

            // ----------- UPDATE header section --begin----------
            onSubmitUpdateHeader(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialHeaderModal.hide();

                const payload = {
                    mainHeaderValue: this.newTestimonialHeader,
                };
                let id = 0; // выбранное значение по умолчанию для обновления заголовка
                this.updateTestimonialsHeader(payload, id);
            },
            updateTestimonialsHeader(payload, testimonialId) {
                const path = `http://first.loc:8088/ru/admin/testimonials/${testimonialId}`;
                axios.put(path,
                    // axios.post(path,
                    payload
                ).then((res) => {
                    console.log(res.status);
                    this.message = res.data.message;
                    this.showMessage = true;
                    // обновляем данные без доп.запроса в базу данных
                    // this.testimonials = res.data.testimonials;
                    this.mainHeaderValue = res.data.mainHeaderValue;
                })
                    .catch((error) => {
                        // eslint-выключение следующей строки
                        console.error(error);
                        this.message = "Ошибка! Заголовок не обновлен.";
                        this.showMessage = true;
                    })
            },
            onResetUpdateHeader(evt) {
                evt.preventDefault();
                this.$refs.editTestimonialHeaderModal.hide();
                this.newTestimonialHeader = '';
            },
            // ----------- UPDATE header section --end----------

            initForm() {
                this.editForm.id = '';
                this.editForm.imgUrl = '';
                this.editForm.headerValue = '';
                this.editForm.pValue = '';
            },
            initMessageField() {
                this.message = '';
                this.showMessage = false;
            },
        },
        created() {
            this.getMessage();
        }


    }
</script>
